.footer-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-start;

    padding: 0 5%;
}
.footer-container ul {
    flex-grow: 4;
}
.footer-container a {
    text-decoration: none;
}
.footer-container a:hover {
    text-decoration: underline;
}

.footer-section {
    display: flex;
    align-items: center;

    background-color: #826B62;
    max-width: 100%;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-firstnav {
    list-style: none;
}
.footer-firstnav a{
    font-family: "Museo Sans Cyrl-500";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-secondnav {
    list-style: none;
}
.first-item a{
    font-family: "Museo Sans Cyrl-500";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}
.footer-secondnav a{
    font-family: "Days";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-lowersection {
    max-width: 100%;
    background-color: #674D43;
}

.footer-logos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}
.footer-logos img {
    padding: 2.3% 0;
    margin-right: 4%;
}

.confid-text {
    font-family: "Museo Sans Cyrl-500";
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.phone-number-white {
    justify-content: center;
    font-size: 19px;
    color: white;
    font-family: 'Days';
}