.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1440px;
    min-height: 360px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.footer-container2 {
    min-height: 90px;
}
.footer-container ul {
    flex-grow: 4;
}
.footer-nav ul {
    padding-right: 5vh;
}
.footer-container a {
    text-decoration: none;
}
.footer-container a:hover {
    text-decoration: underline;
}

.footer-section {
    background-color: #826b62;
    max-width: 100%;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-firstnav {
    list-style: none;
}
.footer-firstnav a{
    font-family: "Museo Sans Cyrl-500";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-secondnav {
    list-style: none;
}
.first-item a{
    font-family: "Museo Sans Cyrl-500";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}
.footer-secondnav a{
    font-family: "Days";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-lowersection {
    max-width: 100%;
    background-color: #674D43;
}

.footer-logos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}
.footer-logos img {
    padding: 2.3% 0;
    margin-right: 4%;
}

.confid-text {
    font-family: "Museo Sans Cyrl-500";
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.phone-number-white {
    justify-content: center;
    font-size: 19px;
    color: white;
    font-family: 'Days';
    padding-right: 30px;
}