<%- include('include/header.ejs') %>

<main class="page404">
    <img class="bg404" src="images/src/404.jpg">
    <div class="container404">
        <h1 class="h1-404">404</h1>
        <h2 class="h2-404">Извините, запрашиваемая страница не найдена</h2>
        <div class="btn-page btn-page-404"><a href="/" class="btn-page-link btn-404">Вернуться на главную</a></div>
    </div>
</main>

<%- include('include/footer.ejs') %>