<%- include('include/header.ejs') %>

<main class="product-main">
    <div class="top-search">
        <h2 class="page-h2">ДОПОЛНИТЕЛЬНЫЕ ТОВАРЫ</h2>
        <div class="search-top-form">
            <input type="search" class="search-field" id="site-search" name="q" placeholder="Пазлы..." aria-label="Поиск">
            <i></i>
        </div>
        <!-- <i class="search-ico"></i> -->
    </div>

    <div class="search-bar-container">
        <div class="search-bar">
            <form class="search-form" method="post" action="#" id="search-form">

                <div class="search-price-filter">
                    <label class="search-lable" for="search-price-from">Цена</label>
                    <div class="search-price-filter">
                        <input class="search-input" id="search-price-from" type="number" name="price-from" placeholder="500">
                        <i>от</i>
                    </div>
                    <div class="search-price-filter">
                        <input class="search-input" id="search-price-to" type="number" name="price-to" placeholder="10000">
                        <i>до</i>
                    </div>
                </div>
                
                    <label class="search-labe" for="search-sort">Сортировать по</label>
                    <select name="sort" id="search-sort">
                        <option>цене</option>
                    </select>
                
                <p>
                    <input class="search-check" type="checkbox" id="discounts" name="discounts">
                    <label class="search-lable" for="discounts">Акции</label>
                </p>
                <p>
                    <input class="search-check" type="checkbox" id="new" name="new">
                    <label class="search-lable" for="new">Новинки</label>
                </p>
                <p>
                    <input class="search-check" type="checkbox" id="hits" name="hits">
                    <label class="search-lable" for="hits">Хиты продаж</label>
                </p>
            </form>
        </div>
    </div>

    <div class="product-container">
        <div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div>
        
        <div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div><div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div><div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div><div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div><div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div><div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div><div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div><div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div><div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div><div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div>
    </div>
</main>

<%- include('include/footer.ejs') %>