<%- include('include/header.ejs') %>

<main>
    <div class="top-search">
        <h2>ДОПОЛНИТЕЛЬНЫЕ ТОВАРЫ</h2>
        <input type="search" id="site-search" name="q" aria-label="Search through site content">
    </div>
</main>

<%- include('include/footer.ejs') %>