<%- include('include/header.ejs') %>

<main class="product-main">
    <div class="top-search">
        <h2 class="page-h2">ДОПОЛНИТЕЛЬНЫЕ ТОВАРЫ</h2>
        <div><input type="search" class="search-field" id="site-search" name="q" placeholder="Пазлы..." aria-label="Search through site content"></div>
        <!-- <i class="search-ico"></i> -->
    </div>

    <div class="search-bar-container">
        <div class="search-bar">
        </div>
    </div>

    <div class="product-container">
        <div class="product-item">
            <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
            <div class="product-shopimg">
                <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
            </div>
            <p class="product-desctext">Картина по номерам, 40x50 см</p>
            <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
            <div class="page-shoptext">
                <div class="product-prices">
                    <p class="product-oldprice">1089 руб.</p>
                    <p class="product-shopprice">1 990 руб.</p>
                </div>
                <button class="product-shopbtn">В КОРЗИНУ</button>
            </div>
        </div>
    </div>
</main>

<%- include('include/footer.ejs') %>