<%- include('include/header.ejs') %>

<main>
    <div class="page-headcontainer">
        <img class="pagebg-image" src="images/src/site-images/art-therapy.png">
        <div class="page-headertext">
            <h1>Арт-Терапия</h1>
            <p class="page-desctext">гармонизации внутреннего мира<br>и восстановления душевного равновесия</p>
            <p class="page-desctext2">
                Арт-терапия – это не просто модное слово для привлечения внимания. Это одно из направлений психотерапии, которое помогает восстановить душевное равновесие и внутреннюю гармонию. Если вы когда-нибудь чувствовали себя загнанным в угол, подборка наших сетов способна помочь вам расслабиться и доверить свои чувства бумаге. 
            </p>
            <div class="btn-page"><a href="#" class="btn-page-link">Выбрать свой сет</a></div>
        </div>
    </div>
    <section class="page-shopsec">
        <div class="page-shopcontainer">
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-relax.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Релаксация»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop2">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-emo.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Эмоции»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop5">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-happ.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Счастье»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop3">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-port.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «ПОРТРЕТЫ»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop4">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-lost.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «ПОТЕРИ»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop6">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/add.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Мой личный сет</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">- руб.</p>
                    <a href="#art-pop6"><button class="page-shopbtn">Создать свой</button></a>
                </div>
            </div>
        </div>
    </section>

    <section class="page-pop" id="art-pop">
        <div class="page-pop-container">
            <a class="pop-close" href="#"><img src="images/src/close.svg"></a>
            <div class="pop-main">
                <div class="pop-main-img">
                    <img src="images/src/products/set-relax.png">
                </div>
                <div class="pop-main-content">
                    <h1 class="pop-h1">Сет «Релаксация»</h1>
                    <p class="pop-main-text">
                        Сет «Релаксация» прекрасно подойдет тем, чье ментальное состояние буквально умоляет о спокойствии и расслаблении: витиеватые узоры помогут сконцентрироваться и отвлечь внимание от внутренних переживаний, фокусируя вас только на творчестве.
                    </p>
                    <div class="pop-desc-text">
                        <div class="pop-desc-text-line">
                            <p><b>Формат:</b></p>
                            <p>А4</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Кол-во страниц:</b></p>
                            <p>20</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Возрастная категория:</b></p>
                            <p>14+</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Плотность бумаги:</b></p>
                            <p>160 гр./м.кв</p>
                        </div>
                    </div>
                    <p class="pop-lil-text">Пожелания можно указать в примечании к заказу *</p>
                    <div class="pop-lower">
                        <p class="page-shopprice">1 990 руб.</p>
                        <div class="cart-price">
                            <button class="cart-btn">-</button>
                            <input type="number" placeholder="1">
                            <button class="cart-btn">+</button>
                        </div>
                        <button class="page-shopbtn">В КОРЗИНУ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-pop" id="art-pop2">
        <div class="page-pop-container">
            <a class="pop-close" href="#"><img src="images/src/close.svg"></a>
            <div class="pop-main">
                <div class="pop-main-img">
                    <img src="images/src/products/set-emo.png">
                </div>
                <div class="pop-main-content">
                    <h1 class="pop-h1">Сет «Эмоции»</h1>
                    <p class="pop-main-text">
                        Иногда негативные эмоции требуют срочного выхода, а иногда эмоции настолько сокрушающие по своей светлой силе, что душе неумолимо требуется творческая разрядка. Сет «Эмоции» подойдет и для вас в моменты минутных слабостей, и для ваших детей: в композициях есть как крупные детали, так и мелкие узоры, которые помогут развивать мелкую моторику рук. 
                    </p>
                    <div class="pop-desc-text">
                        <div class="pop-desc-text-line">
                            <p><b>Формат:</b></p>
                            <p>А4</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Кол-во страниц:</b></p>
                            <p>20</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Возрастная категория:</b></p>
                            <p>14+</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Плотность бумаги:</b></p>
                            <p>160 гр./м.кв</p>
                        </div>
                    </div>
                    <p class="pop-lil-text">Пожелания можно указать в примечании к заказу *</p>
                    <div class="pop-lower">
                        <p class="page-shopprice">1 990 руб.</p>
                        <div class="cart-price">
                            <button class="cart-btn">-</button>
                            <input type="number" placeholder="1">
                            <button class="cart-btn">+</button>
                        </div>
                        <button class="page-shopbtn">В КОРЗИНУ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-pop" id="art-pop3">
        <div class="page-pop-container">
            <a class="pop-close" href="#"><img src="images/src/close.svg"></a>
            <div class="pop-main">
                <div class="pop-main-img">
                    <img src="images/src/products/set-port.png">
                </div>
                <div class="pop-main-content">
                    <h1 class="pop-h1">Сет «Портреты»</h1>
                    <p class="pop-main-text">
                        Сет «Портреты» для истинных любителей портретного рисунка: здесь такое раздолье для фантазии, что сложно удержаться. Вдохновитесь ли вы персонажами любимых картин или цветастым пятнышком разлитого на асфальт бензина – это совершенно неважно, ведь результат совершенно точно будет ошеломляющий!
                    </p>
                    <div class="pop-desc-text">
                        <div class="pop-desc-text-line">
                            <p><b>Формат:</b></p>
                            <p>А4</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Кол-во страниц:</b></p>
                            <p>20</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Возрастная категория:</b></p>
                            <p>14+</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Плотность бумаги:</b></p>
                            <p>160 гр./м.кв</p>
                        </div>
                    </div>
                    <p class="pop-lil-text">Пожелания можно указать в примечании к заказу *</p>
                    <div class="pop-lower">
                        <p class="page-shopprice">1 990 руб.</p>
                        <div class="cart-price">
                            <button class="cart-btn">-</button>
                            <input type="number" placeholder="1">
                            <button class="cart-btn">+</button>
                        </div>
                        <button class="page-shopbtn">В КОРЗИНУ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-pop" id="art-pop4">
        <div class="page-pop-container">
            <a class="pop-close" href="#"><img src="images/src/close.svg"></a>
            <div class="pop-main">
                <div class="pop-main-img">
                    <img src="images/src/products/set-lost.png">
                </div>
                <div class="pop-main-content">
                    <h1 class="pop-h1">Сет «Потери»</h1>
                    <p class="pop-main-text">
                        Сет «Потери» такой же сложный по структуре, как и разбитое сердце: трудно подступиться и понять с чего начать. Но ведь в любом деле главное – сесть и наконец сделать! Пусть вас не пугают острые и колючие эскизы, ведь любую потерю можно превратить в хорошее воспоминание, а иногда – и вовсе стереть из памяти, заполнив пространство самыми яркими красками жизни. 
                    </p>
                    <div class="pop-desc-text">
                        <div class="pop-desc-text-line">
                            <p><b>Формат:</b></p>
                            <p>А4</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Кол-во страниц:</b></p>
                            <p>20</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Возрастная категория:</b></p>
                            <p>14+</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Плотность бумаги:</b></p>
                            <p>160 гр./м.кв</p>
                        </div>
                    </div>
                    <p class="pop-lil-text">Пожелания можно указать в примечании к заказу *</p>
                    <div class="pop-lower">
                        <p class="page-shopprice">1 990 руб.</p>
                        <div class="cart-price">
                            <button class="cart-btn">-</button>
                            <input type="number" placeholder="1">
                            <button class="cart-btn">+</button>
                        </div>
                        <button class="page-shopbtn">В КОРЗИНУ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-pop" id="art-pop5">
        <div class="page-pop-container">
            <a class="pop-close" href="#"><img src="images/src/close.svg"></a>
            <div class="pop-main">
                <div class="pop-main-img">
                    <img src="images/src/products/set-happ.png">
                </div>
                <div class="pop-main-content">
                    <h1 class="pop-h1">Сет «Счастье»</h1>
                    <p class="pop-main-text">
                        Сет «Счастье» ассоциируется у нас с искрящимся чувством свободы и свежести, с теплым и солнечным ощущением правильности выбора, с решительным настроем перед трудным решением.  Этот сет создан, чтобы вдохновляться и вдохновлять, а еще – хвастаться тем, что ваши картины в точности как люди: могут быть счастливыми.
                    </p>
                    <div class="pop-desc-text">
                        <div class="pop-desc-text-line">
                            <p><b>Формат:</b></p>
                            <p>А4</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Кол-во страниц:</b></p>
                            <p>20</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Возрастная категория:</b></p>
                            <p>14+</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Плотность бумаги:</b></p>
                            <p>160 гр./м.кв</p>
                        </div>
                    </div>
                    <p class="pop-lil-text">Пожелания можно указать в примечании к заказу *</p>
                    <div class="pop-lower">
                        <p class="page-shopprice">1 990 руб.</p>
                        <div class="cart-price">
                            <button class="cart-btn">-</button>
                            <input type="number" placeholder="1">
                            <button class="cart-btn">+</button>
                        </div>
                        <button class="page-shopbtn">В КОРЗИНУ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-pop" id="art-pop6">
        <div class="page-pop-container">
            <a class="pop-close" href="#"><img src="images/src/close.svg"></a>
            <div class="pop-main">
                <div class="pop-main-img">
                    <img src="images/src/add.png">
                </div>
                <div class="pop-main-content">
                    <h1 class="pop-h1">Мой личный сет</h1>
                    <p class="pop-main-text">
                        Сделаем ваш личный сет на заказ! Сделаем ваш личный сет на заказ! Сделаем ваш личный сет на заказ! Сделаем ваш личный сет на заказ! Сделаем ваш личный сет на заказ! Сделаем ваш личный сет на заказ! Сделаем ваш личный сет на заказ! 
                    </p>
                    <div class="pop-desc-text">
                        <div class="pop-desc-text-line">
                            <p><b>Формат:</b></p>
                            <p>А4</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Кол-во страниц:</b></p>
                            <p>20</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Возрастная категория:</b></p>
                            <p>14+</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Плотность бумаги:</b></p>
                            <p>160 гр./м.кв</p>
                        </div>
                    </div>
                    <p class="pop-lil-text">Пожелания можно указать в примечании к заказу *</p>
                    <div class="pop-lower">
                        <p class="page-shopprice">- руб.</p>
                        <div class="cart-price">
                            <button class="cart-btn">-</button>
                            <input type="number" placeholder="1">
                            <button class="cart-btn">+</button>
                        </div>
                        <button class="page-shopbtn">В КОРЗИНУ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('include/footer.ejs') %>