<%- include('include/header.ejs') %>

<main>
    <div class="page-headcontainer">
        <img class="pagebg-image" src="images/src/site-images/art-therapy.png">
        <div class="page-headertext">
            <h1>Арт-Терапия</h1>
            <p class="page-desctext">гармонизации внутреннего мира<br>и восстановления душевного равновесия</p>
            <div class="btn-page"><a href="#" class="btn-page-link">Выбрать свой сет</a></div>
        </div>
    </div>
    <section class="page-shopsec">
        <div class="page-shopcontainer">
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-relax.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Релаксация»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-emo.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Эмоции»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-happ.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Счастье»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-port.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «ПОРТРЕТЫ»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-lost.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «ПОТЕРИ»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('include/footer.ejs') %>