<%- include('include/header.ejs') %>

<main>
    <div class="page-headcontainer">
        <img class="pagebg-image" src="images/src/site-images/art-therapy.png">
        <div class="page-headertext">
            <h1>Арт-Терапия</h1>
            <p class="page-desctext">гармонизации внутреннего мира<br>и восстановления душевного равновесия</p>
            <p class="page-desctext2">
                Арт-терапия – это не просто модное слово для
привлечения внимания. Это одно из направлений психотерапии,
которое помогает восстановить душевное равновесие и
внутреннюю гармонию. Если вы когда-нибудь чувствовали себя
загнанным в угол, подборка наших сетов способна помочь вам
расслабиться и доверить свои чувства бумаге.Такой способ
самовыражения подойдет даже в те тяжелые периоды, когда
совершенно не хочется взаимодействовать с раздражающим
внешним миром. Верните себе спокойствие и гармонию с собой.
            </p>
            <div class="btn-page"><a href="#" class="btn-page-link">Выбрать свой сет</a></div>
        </div>
    </div>
    <section class="page-shopsec">
        <div class="page-shopcontainer">
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-relax.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Релаксация»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-emo.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Эмоции»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-happ.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Счастье»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-port.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «ПОРТРЕТЫ»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-lost.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «ПОТЕРИ»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
        </div>
    </section>

    <section class="page-pop" id="art-pop">
        <div class="page-pop-container">
            <a class="pop-close" href="#"><img src="images/src/close.svg"></a>
            <div class="pop-main">
                <div class="pop-main-img">
                    <img src="images/src/products/set-relax.png">
                </div>
                <div class="pop-main-content">
                    <h1 class="pop-h1">Сет «Релаксация»</h1>
                    <p class="pop-main-text">
                        Данный сет станет отличным способом расслабления.Специальная серия поможет каждому обрести гармонию. Он предназначен для раскрашивания и содержит 20 листов бумагис нанесенными эскизами.
                    </p>
                    <div class="pop-desc-text">
                        <div class="pop-desc-text-line">
                            <p><b>Формат:</b></p>
                            <p>А4</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Кол-во страниц:</b></p>
                            <p>20</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Возрастная категория:</b></p>
                            <p>14+</p>
                        </div>
                        <div class="pop-desc-text-line">
                            <p><b>Плотность бумаги:</b></p>
                            <p>160 гр./м.кв</p>
                        </div>
                    </div>
                    <p class="pop-lil-text">Пожелания можно указать в примечании к заказу *</p>
                    <div class="pop-lower">
                        <p class="page-shopprice">1 990 руб.</p>
                        <div class="cart-price">
                            <button class="cart-btn">-</button>
                            <input type="number" placeholder="1">
                            <button class="cart-btn">+</button>
                        </div>
                        <button class="page-shopbtn">В КОРЗИНУ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('include/footer.ejs') %>