<%- include('include/header.ejs') %>

<main class="service">
    <img class="service-img benefits" src="/images/src/site-images/benefits-bg.jpg">
    <div class="service-container">
        
        <h1 class="service-h1"><b>Преимущетсва быть с нами</b></h1>
        <div class="service-blocks benefits-blocks">
            <div class="ben-item">
                <img class="ben-bg" src="images/src/benefits/bg2.svg">
                <img class="ben-ico" src="images/src/benefits/benefits1.png">
                <p><b>5 лет опыта работы</b></p>
            </div>
            <div class="ben-item">
                <img class="ben-bg" src="images/src/benefits/bg2.svg">
                <img class="ben-ico" src="images/src/benefits/benefits2.png">
                <p><b>Высокое качество материалов за счет современных тенологий</b></p>
            </div>
            <div class="ben-item">
                <img class="ben-bg" src="images/src/benefits/bg3.svg">
                <img class="ben-ico" src="images/src/benefits/benefits3.png">
                <p><b>У нас уже 500 постоянных клиентов</b></p>
            </div>
            <div class="ben-item">
                <img class="ben-bg" src="images/src/benefits/bg4.svg">
                <img class="ben-ico" src="images/src/benefits/benefits4.png">
                <p><b>Безопасные материалы для детей и взрослых</b></p>
            </div>
            <div class="ben-item">
                <img class="ben-bg" src="images/src/benefits/bg5.svg">
                <img class="ben-ico" src="images/src/benefits/benefits5.png">
                <p><b>Приемлимая цена</b></p>
            </div>
            <div class="ben-item">
                <img class="ben-bg" src="images/src/benefits/bg6.svg">
                <img class="ben-ico" src="images/src/benefits/benefits6.png">
                <p><b>Изготовление картин по Вашему фото за 1 день</b></p>
            </div>
        </div>
    </div>
</main>

<%- include('include/footer.ejs') %>