<%- include('include/header.ejs') %>

<main>
    <div class="cart-container">
        <div class="cart-top">
            <h1 class="cart-h1">корзина</h1>
            <h2 class="cart-h2">Оформление заказа и оплата</h2>
        </div>
        <div class="cart-top2">
            <div class="round">1</div>
            <img class="cart-line" src="images/src/line-grad.svg">
            <div class="round round-dis">2</div>
        </div>
        <div class="cart-lables">
            <p class="cart-lable">Описание товара</p>
            <p class="cart-lable">Количество</p>
            <p class="cart-lable">Цена за шт.</p>
            <p class="cart-lable">Сумма</p>
        </div>

        <div class="cart-list">
            <div class="cart-line2"></div>
            <div class="cart-list-item">
                <div class="cart-list-main">
                    <div class="cart-list-img">
                        <img src="images/src/cart/1.jpg">
                    </div>
                    <div class="cart-list-desc">
                        <p class="cart-list-text-small">Картина по номерам</p>
                        <p class="cart-list-text-big">«пионы в саду»</p>
                        <div class="line-disc-list">
                            <div class="line-desc">
                                <p class="line-desc-text">Размер</p>
                                <div class="line-desc-under"></div>
                                <p class="line-desc-text">40x50см</p>
                            </div>
                            <div class="line-desc">
                                <p class="line-desc-text">Сложность</p>
                                <div class="line-desc-under"></div>
                                <div class="line-diff">
                                    <img src="images/src/cart/diff.svg">
                                    <img src="images/src/cart/diff.svg">
                                    <img src="images/src/cart/diff.svg">
                                    <img src="images/src/cart/diff.svg">
                                    <img src="images/src/cart/diff_b.svg">
                                </div>
                            </div>
                            <div class="line-desc">
                                <p class="line-desc-text">Кол-во цветов</p>
                                <div class="line-desc-under"></div>
                                <p class="line-desc-text">28</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-price">
                    <button class="cart-btn">-</button>
                    <input type="number" value="1" min="1" max="999" maxlength="3">
                    <button class="cart-btn">+</button>
                </div>
                <div class="cart-price">
                    <p>1 190 руб.</p>
                </div>
                <div class="cart-price">
                    <p>1 190 руб.</p>
                    <button class="trash-btn"><i></i></button>
                </div>
            </div>
            <div class="cart-line2 cart-line-bottom"></div>

            <div class="cart-line2"></div>
            <div class="cart-list-item">
                <div class="cart-list-main">
                    <div class="cart-list-img">
                        <img src="images/src/cart/2.jpg">
                    </div>
                    <div class="cart-list-desc">
                        <p class="cart-list-text-small">Картина по стразам</p>
                        <p class="cart-list-text-big">«дЕВУШКА В КРАСНОМ»</p>
                        <div class="line-disc-list">
                            <div class="line-desc">
                                <p class="line-desc-text">Размер</p>
                                <div class="line-desc-under"></div>
                                <p class="line-desc-text">40x50см</p>
                            </div>
                            <div class="line-desc">
                                <p class="line-desc-text">Сложность</p>
                                <div class="line-desc-under"></div>
                                <div class="line-diff">
                                    <img src="images/src/cart/diff.svg">
                                    <img src="images/src/cart/diff.svg">
                                    <img src="images/src/cart/diff.svg">
                                    <img src="images/src/cart/diff_b.svg">
                                    <img src="images/src/cart/diff_b.svg">
                                </div>
                            </div>
                            <div class="line-desc">
                                <p class="line-desc-text">Кол-во цветов</p>
                                <div class="line-desc-under"></div>
                                <p class="line-desc-text">18</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-price">
                    <button class="cart-btn">-</button>
                    <input type="number" value="1" min="1" max="999" maxlength="3">
                    <button class="cart-btn">+</button>
                </div>
                <div class="cart-price">
                    <p>1 690 руб.</p>
                </div>
                <div class="cart-price">
                    <p>1 690 руб.</p>
                    <button class="trash-btn"><i></i></button>
                </div>
            </div>
            <div class="cart-line2 cart-line-bottom"></div>
        </div>

        <div class="price-sum">
            <p>Итог:</p>
            <p>2 880 руб.</p>
        </div>
        <div class="cart-buttons">
            <button class="cart-btn-other">добавить еще</button>
            <a href="order.html"><button class="cart-btn-make">Оформить заказ</button></a>
        </div>

        <h1 class="cart-h1 interest-text">Вас может заинтересовать</h1>
        <div class="slider">
            <div class="slider__wrapper">
                <div class="slider__item">
                    <div class="product-item">
                        <div class="product-shopimg">
                            <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                            <a href="#"><img src="images/src/products/dop/pion.jpg"></a>
                        </div>
                        <p class="product-desctext">Картина по стразам, 30x40 см</p>
                        <p class="product-shoptitle"><a href="#">«Розовые пионы»</a></p>
                        <div class="page-shoptext">
                            <div class="product-prices">
                                <p class="product-shopprice">1 500 руб.</p>
                            </div>
                            <button class="product-shopbtn">В КОРЗИНУ</button>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="product-item">
                        <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
                        <div class="product-shopimg">
                            <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                            <a href="#"><img src="images/src/products/dop/shik.jpg"></a>
                        </div>
                        <p class="product-desctext">Картина по номерам, 40x50 см</p>
                        <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
                        <div class="page-shoptext">
                            <div class="product-prices">
                                <p class="product-oldprice">1089 руб.</p>
                                <p class="product-shopprice">1 990 руб.</p>
                            </div>
                            <button class="product-shopbtn">В КОРЗИНУ</button>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="product-item">
                        <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
                        <div class="product-shopimg">
                            <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                            <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
                        </div>
                        <p class="product-desctext">Картина по номерам, 40x50 см</p>
                        <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
                        <div class="page-shoptext">
                            <div class="product-prices">
                                <p class="product-oldprice">1089 руб.</p>
                                <p class="product-shopprice">1 990 руб.</p>
                            </div>
                            <button class="product-shopbtn">В КОРЗИНУ</button>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="product-item">
                        <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
                        <div class="product-shopimg">
                            <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                            <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
                        </div>
                        <p class="product-desctext">Картина по номерам, 40x50 см</p>
                        <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
                        <div class="page-shoptext">
                            <div class="product-prices">
                                <p class="product-oldprice">1089 руб.</p>
                                <p class="product-shopprice">1 990 руб.</p>
                            </div>
                            <button class="product-shopbtn">В КОРЗИНУ</button>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="product-item">
                        <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
                        <div class="product-shopimg">
                            <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                            <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
                        </div>
                        <p class="product-desctext">Картина по номерам, 40x50 см</p>
                        <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
                        <div class="page-shoptext">
                            <div class="product-prices">
                                <p class="product-oldprice">1089 руб.</p>
                                <p class="product-shopprice">1 990 руб.</p>
                            </div>
                            <button class="product-shopbtn">В КОРЗИНУ</button>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="product-item">
                        <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
                        <div class="product-shopimg">
                            <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                            <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
                        </div>
                        <p class="product-desctext">Картина по номерам, 40x50 см</p>
                        <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
                        <div class="page-shoptext">
                            <div class="product-prices">
                                <p class="product-oldprice">1089 руб.</p>
                                <p class="product-shopprice">1 990 руб.</p>
                            </div>
                            <button class="product-shopbtn">В КОРЗИНУ</button>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="product-item">
                        <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
                        <div class="product-shopimg">
                            <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                            <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
                        </div>
                        <p class="product-desctext">Картина по номерам, 40x50 см</p>
                        <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
                        <div class="page-shoptext">
                            <div class="product-prices">
                                <p class="product-oldprice">1089 руб.</p>
                                <p class="product-shopprice">1 990 руб.</p>
                            </div>
                            <button class="product-shopbtn">В КОРЗИНУ</button>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="product-item">
                        <div class="price"><img src="images/src/products/dop/price1.svg"><p>-10%</p></div>
                        <div class="product-shopimg">
                            <div class="fast-view2"><a href="#">Быстрый просмотр</a></div>
                            <a href="#"><img src="images/src/products/dop/under-umb.png"></a>
                        </div>
                        <p class="product-desctext">Картина по номерам, 40x50 см</p>
                        <p class="product-shoptitle"><a href="#">«под зонтом»</a></p>
                        <div class="page-shoptext">
                            <div class="product-prices">
                                <p class="product-oldprice">1089 руб.</p>
                                <p class="product-shopprice">1 990 руб.</p>
                            </div>
                            <button class="product-shopbtn">В КОРЗИНУ</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="slider__control slider__control_left" href="#" role="button"></a>
    <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
        </div>
    </div>

    <script>
        'use strict';
        var multiItemSlider = (function () {
          return function (selector, config) {
            var
              _mainElement = document.querySelector(selector), // основный элемент блока
              _sliderWrapper = _mainElement.querySelector('.slider__wrapper'), // обертка для .slider-item
              _sliderItems = _mainElement.querySelectorAll('.slider__item'), // элементы (.slider-item)
              _sliderControls = _mainElement.querySelectorAll('.slider__control'), // элементы управления
              _sliderControlLeft = _mainElement.querySelector('.slider__control_left'), // кнопка "LEFT"
              _sliderControlRight = _mainElement.querySelector('.slider__control_right'), // кнопка "RIGHT"
              _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width), // ширина обёртки
              _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width), // ширина одного элемента    
              _positionLeftItem = 0, // позиция левого активного элемента
              _transform = 0, // значение транфсофрмации .slider_wrapper
              _step = _itemWidth / _wrapperWidth * 120, // величина шага (для трансформации)
              _items = []; // массив элементов
    
            // наполнение массива _items
            _sliderItems.forEach(function (item, index) {
              _items.push({ item: item, position: index, transform: 0 });
            });
    
            var position = {
              getItemMin: function () {
                var indexItem = 0;
                _items.forEach(function (item, index) {
                  if (item.position < _items[indexItem].position) {
                    indexItem = index;
                  }
                });
                return indexItem;
              },
              getItemMax: function () {
                var indexItem = 0;
                _items.forEach(function (item, index) {
                  if (item.position > _items[indexItem].position) {
                    indexItem = index;
                  }
                });
                return indexItem;
              },
              getMin: function () {
                return _items[position.getItemMin()].position;
              },
              getMax: function () {
                return _items[position.getItemMax()].position;
              }
            }
    
            var _transformItem = function (direction) {
              var nextItem;
              if (direction === 'right') {
                _positionLeftItem++;
                if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) > position.getMax()) {
                  nextItem = position.getItemMin();
                  _items[nextItem].position = position.getMax() + 1;
                  _items[nextItem].transform += _items.length * 118.8;
                  _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
                }
                _transform -= _step;
              }
              if (direction === 'left') {
                _positionLeftItem--;
                if (_positionLeftItem < position.getMin()) {
                  nextItem = position.getItemMax();
                  _items[nextItem].position = position.getMin() - 1;
                  _items[nextItem].transform -= _items.length * 118.8;
                  _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
                }
                _transform += _step;
              }
              _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
            }
    
            // обработчик события click для кнопок "назад" и "вперед"
            var _controlClick = function (e) {
              if (e.target.classList.contains('slider__control')) {
                e.preventDefault();
                var direction = e.target.classList.contains('slider__control_right') ? 'right' : 'left';
                _transformItem(direction);
              }
            };
    
            var _setUpListeners = function () {
              // добавление к кнопкам "назад" и "вперед" обрботчика _controlClick для событя click
              _sliderControls.forEach(function (item) {
                item.addEventListener('click', _controlClick);
              });
            }
    
            // инициализация
            _setUpListeners();
    
            return {
              right: function () { // метод right
                _transformItem('right');
              },
              left: function () { // метод left
                _transformItem('left');
              }
            }
    
          }
        }());
    
        var slider = multiItemSlider('.slider')
    
      </script>
</main>

<%- include('include/footer.ejs') %>