<%- include('include/header.ejs') %>

<main>
    <div class="service-container">
        <h1 class="service-h1"><b>Отызвы</b></h1>
        
        <div class="com-top">
            <div class="com-top-left">
                <h2 class="com-h2"><b>Рейтинг наших покупателей</b></h2>
                <div class="com-stars">
                    <img src="images/src/star-1.svg">
                    <img src="images/src/star-1.svg">
                    <img src="images/src/star-1.svg">
                    <img src="images/src/star-1.svg">
                    <img src="images/src/star-2.svg">
                </div>
                <p class="com-text lower">На основе 500 оценок покупателей</p>
                <p class="com-text">Разместите отзыв на нашем сайте и получите скидку 5% на ваш следующий заказ</p>
                <button class="page-shopbtn send-btn">Оставить свой отзыв</button>
            </div>
            <div class="com-rating">
                <p class="com-rating-text">4,8</p>
                <div class="com-stars-list">
                    <div class="com-stars-list-item">
                        <img src="images/src/comments/star5.svg">
                        <input type="range" id="vol" name="vol" value="400" min="0" max="500">
                        <p>400</p>
                    </div>
                    <div class="com-stars-list-item">
                        <img src="images/src/comments/star4.svg">
                        <input type="range" id="vol" name="vol" value="65" min="0" max="500">
                        <p>65</p>
                    </div>
                    <div class="com-stars-list-item">
                        <img src="images/src/comments/star3.svg">
                        <input type="range" id="vol" name="vol" value="20" min="0" max="500">
                        <p>20</p>
                    </div>
                    <div class="com-stars-list-item">
                        <img src="images/src/comments/star2.svg">
                        <input type="range" id="vol" name="vol" value="10" min="0" max="500">
                        <p>10</p>
                    </div>
                    <div class="com-stars-list-item">
                        <img src="images/src/comments/star1.svg">
                        <input type="range" id="vol" name="vol" value="5" min="0" max="500">
                        <p>5</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="com-line"></div>
        <div class="comments">
            <div class="comments-item">
                <div class="comments-item-block">
                    <div class="comments-item-left">
                        <h3 class="com-h3"><b>Наталья Еремина</b></h3>
                        <div class="com-stars min-stars">
                            <img src="images/src/star-1.svg">
                            <img src="images/src/star-1.svg">
                            <img src="images/src/star-1.svg">
                            <img src="images/src/star-1.svg">
                            <img src="images/src/star-2.svg">
                        </div>
                        <p class="com-date">28.08.2020</p>
                    </div>

                    <div class="com-img">
                        <img class="com-usr-pic" src="images/src/comments/usr-pic-1.jpg">
                    </div>
                </div>

                <div class="comments-item-block second-block">
                    <div class="comments-main">
                        <p class="comments-text">Заказывала картину в подарок и осталась довольна. Хочу сказать большое спасибо! Очень красиво смотрится и сама картина и как она упакована!</p>
                        <div class="comments-reply">
                            <p class="com-more"><a href="#">Подробнее</a></p>
                        </div>
                        <p class="com-more more-mob"><a href="#">Подробнее</a></p>
                    </div>
                    <div class="com-likes">
                        <div class="com-like">
                            <img src="images/src/comments/like.svg"><p class="like-num"><b>5</b></p>
                        </div>
                        <div class="com-like">
                            <img src="images/src/comments/dislike.svg"><p><b>2</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="com-line"></div>
            <div class="comments-item">
                <div class="comments-item-block">
                    <div class="comments-item-left">
                        <h3 class="com-h3"><b>Ирина Павлова</b></h3>
                        <div class="com-stars min-stars">
                            <img src="images/src/star-1.svg">
                            <img src="images/src/star-1.svg">
                            <img src="images/src/star-1.svg">
                            <img src="images/src/star-2.svg">
                            <img src="images/src/star-2.svg">
                        </div>
                        <p class="com-date">28.08.2020</p>
                    </div>

                    <div class="com-img">
                        <img class="com-usr-pic" src="images/src/comments/usr-pic-2.jpg">
                    </div>
                </div>

                <div class="comments-item-block second-block">
                    <div class="comments-main">
                        <p class="comments-text">Заказывала картину в подарок и осталась довольна. Хочу сказать большое спасибо! Очень красиво смотрится и сама картина и как она упакована!</p>
                        <div class="comments-reply">
                            <p class="com-more"><a href="#">Подробнее</a></p>
                            <img class="reply-img" src="images/src/comments/reply.svg">
                            <div class="comments-reply-block">
                                <img src="images/src/comments/logo.svg">
                                <p class="comments-text">Мария Луканова, спасибо большое за Ваш отзыв! Всегда рады выполнять Ваши заказы. Будем рады видеть фото Ваших готовых работ.</p>
                            </div>
                        </div>
                        <p class="com-more more-mob"><a href="#">Подробнее</a></p>
                    </div>
                    

                    <div class="com-likes">
                        <div class="com-like">
                            <img src="images/src/comments/like.svg"><p class="like-num"><b>2</b></p>
                        </div>
                        <div class="com-like">
                            <img src="images/src/comments/dislike.svg"><p><b>0</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="com-line"></div>
        </div>
        <div class="com-lower">
            <a href="#" class="com-arrow"><img src="images/src/comments/arrow1.svg"></a>
                <div class="com-lower-numbers">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                </div>
            <a href="#" class="com-arrow"><img src="images/src/comments/arrow2.svg"></a>
        </div>
    </div>
</main>

<%- include('include/footer.ejs') %>