<%- include('include/header.ejs') %>

<main class="contacts-main">
    <h1 class="contacts-h1">КОНАТКТЫ</h1>
    <div class="contacts-container">
        <div class="contacts-item"></div>
    </div>
</main>

<%- include('include/footer.ejs') %>