<%- include('include/header.ejs') %>

<main>
    <div class="service-container">
        <h1 class="service-h1"><b>Акции</b></h1>
        <div class="discounts-blocks disc-first-block">
            <div class="discounts-item">
                <img class="disc-pic" src="images/src/discounts/disc-pic-1.png">
                <div class="disc-right">
                    <img class="disc-bg" src="images/src/discounts/disc1.png">
                    <div class="disc-text">
                        <h2 class="disc-h2">Дарим скидку 20% в День Вашего рождения</h2>
                        <p class="disc-red-text">Скидка не распространяется на товары со скидкой</p>
                        <p class="disc-main-text main-tex-pos">Скидка действует в течение трех дней с даты Вашего рождения. При оформлении заказа укажите в комментарии "Скидка в День Рождения". При подтверждении менеджер пересчитает сумму заказа с учетом скидки.</p>
                        <br>
                        <p class="disc-main-text">Условия:</p>
                        <ul class="disc-ul disc-main-text">
                            <li>Будьте готовы предъявить подтверждающий документ при получении заказа.</li>
                            <li>Будьте готовы предъявить подтверждающий документ при получении заказа.</li>
                            <li>Будьте готовы предъявить подтверждающий документ при получении заказа.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="discounts-blocks">
            <div class="discounts-item discounts-item2">
                <div class="disc-right disc-left">
                    <img class="disc-bg disc-bg2" src="images/src/discounts/disc2.png">
                    <div class="disc-text disc-second-text">
                        <h2 class="disc-h2">Дарим скидку 30% на вторую картину по фото</h2>
                        <p class="disc-red-text">Акция действует с 10.08.2020 до 30.08.2020</p>
                        <h2 class="disc-h2">Код купона: QW10QE</h2>
                        <p class="disc-main-text main-tex-pos">Закажите две картины по фото и получите скидку! Введя данный купон, вы получите скидку 30% и бесплатную доставку по всей России. Данный код купона необходимо ввести на странице оформления заказа.</p>
                        <br>
                        <p class="disc-main-text">Условия:</p>
                        <ul class="disc-ul disc-main-text">
                            <li>Будьте готовы предъявить подтверждающий документ при получении заказа.</li>
                            <li>Будьте готовы предъявить подтверждающий документ при получении заказа.</li>
                            <li>Будьте готовы предъявить подтверждающий документ при получении заказа.</li>
                        </ul>
                    </div>
                </div>
                <img class="disc-pic disc-pic2" src="images/src/discounts/disc-pic-2.png">
            </div>
        </div>

        <div class="discounts-blocks">
            <div class="discounts-item">
                <img class="disc-pic" src="images/src/discounts/disc-pic-3.png">
                <div class="disc-right">
                    <img class="disc-bg" src="images/src/discounts/disc3.png">
                    <div class="disc-text">
                        <h2 class="disc-h2">Розыгрыш подарков в нашем Instagram</h2>
                        <p class="disc-red-text">Акция действует с 25.08.2020 до 20.09.2020</p>
                        <p class="disc-main-text main-tex-pos">Три победителя получат <span>подарочные сертификаты</span> для покупок в <b>BRUSHES PAINTS</b></p>
                        <br>
                        <p class="disc-main-text">Условия ТВОРЧЕСКОГО КОНКУРСА:</p>
                        <ul class="disc-ul third-ul disc-main-text">
                            <li>1. Сделать фото готовой работы или творческого процесса</li>
                            <li>2. Выложить фото к себе в профиль в Instagram</li>
                            <li>3. Отметить наш профиль в Instagram @brushespaints на фото </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('include/footer.ejs') %>