<%- include('include/header.ejs') %>

<main>
    <div class="service-container">
        <h1 class="service-h1"><b>Акции</b></h1>
        <div class="discounts-blocks">
            <div class="discounts-item">
                <img class="disc-pic" src="images/src/discounts/disc-pic-1.png">
                <img class="disc-bg" src="images/src/discounts/disc1.svg">

                <h2 class="service-h2">Дарим скидку 20% в День Вашего рождения</h2>
            </div>
        </div>
    </div>
</main>

<%- include('include/footer.ejs') %>