<%- include('include/header.ejs') %>

<main>
    <div class="gal-top">
        <h1 class="gal-h1">Галерея готовых работ</h1>
        <button class="product-shopbtn gal-btn">Добавить свою работу</button>
    </div>
    <div class="gal-nav">
        <div class="gal-nav-container">
            <ul>
                <li><a href="gallery.ejs" class="gal-a">Картины по номерам по фото</a></li>
                <li><a href="gallery.ejs" class="gal-a">Картины по стразам</a></li>
                <li><a href="gallery.ejs" class="gal-a">вышивка</a></li>
                <li><a href="gallery.ejs" class="gal-a">пазлы</a></li>
                <li><a href="gallery.ejs" class="gal-a">Картины по дереву</a></li>
                <li><a href="gallery.ejs" class="gal-a">Мандалы</a></li>
                <li><a href="gallery.ejs" class="gal-a">Алмазная вышивка</a></li>
            </ul>
        </div>
    </div>
    <div class="gallery">
        <div class="gallery-item">
            <div class="gallery-top">
                <div class="gal-fast">
                    <img src="images/src/gallery/fast.png">
                </div>
                <a href="#" class="gallery-item-img-link">
                    <div class="gallery-item-img">
                        <img class="gal-img1" src="images/src/gallery/leo/1.jpg">
                        <img class="gal-big-img" src="images/src/gallery/leo/3.jpg">
                        <img class="gal-img2" src="images/src/gallery/leo/2.jpg">
                    </div>
                </a>
            </div>
            <div class="gallery-text">
                <p class="gallery-text-small">Картина по номерам, 40x50 см</p>
                <p class="gallery-text-main"><a href="#">«Леопард»</a></p>
                <br>
                <p class="gallery-text-name">Елена Гаврилина</p>
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-top">
                <a href="#" class="gallery-item-img-link">
                    <div class="gallery-item-img">
                        <img class="gal-img1" src="images/src/gallery/lion/1.jpg">
                        <img class="gal-big-img" src="images/src/gallery/lion/3.jpg">
                        <img class="gal-img2" src="images/src/gallery/lion/2.jpg">
                    </div>
                </a>
                <div class="gal-fast">
                    <img src="images/src/gallery/fast.png">
                </div>
            </div>
            <div class="gallery-text">
                <p class="gallery-text-small">Картина по номерам, 40x50 см</p>
                <p class="gallery-text-main"><a href="#">«Лев»                </a></p>
                <br>
                <p class="gallery-text-name">Ольга Иванова</p>
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-top">
                <a href="#" class="gallery-item-img-link">
                    <div class="gallery-item-img">
                        <img class="gal-img1" src="images/src/gallery/leo/1.jpg">
                        <img class="gal-big-img" src="images/src/gallery/leo/3.jpg">
                        <img class="gal-img2" src="images/src/gallery/leo/2.jpg">
                    </div>
                </a>
                <div class="gal-fast">
                    <img src="images/src/gallery/fast.png">
                </div>
            </div>
            <div class="gallery-text">
                <p class="gallery-text-small">Картина по номерам, 40x50 см</p>
                <p class="gallery-text-main"><a href="#">«Леопард»</a></p>
                <br>
                <p class="gallery-text-name">Елена Гаврилина</p>
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-top">
                <a href="#" class="gallery-item-img-link">
                    <div class="gallery-item-img">
                        <img class="gal-img1" src="images/src/gallery/leo/1.jpg">
                        <img class="gal-big-img" src="images/src/gallery/leo/3.jpg">
                        <img class="gal-img2" src="images/src/gallery/leo/2.jpg">
                    </div>
                </a>
                <div class="gal-fast">
                    <img src="images/src/gallery/fast.png">
                </div>
            </div>
            <div class="gallery-text">
                <p class="gallery-text-small">Картина по номерам, 40x50 см</p>
                <p class="gallery-text-main"><a href="#">«Леопард»</a></p>
                <br>
                <p class="gallery-text-name">Елена Гаврилина</p>
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-top">
                <a href="#" class="gallery-item-img-link">
                    <div class="gallery-item-img">
                        <img class="gal-img1" src="images/src/gallery/leo/1.jpg">
                        <img class="gal-big-img" src="images/src/gallery/leo/3.jpg">
                        <img class="gal-img2" src="images/src/gallery/leo/2.jpg">
                    </div>
                </a>
                <div class="gal-fast">
                    <img src="images/src/gallery/fast.png">
                </div>
            </div>
            <div class="gallery-text">
                <p class="gallery-text-small">Картина по номерам, 40x50 см</p>
                <p class="gallery-text-main"><a href="#">«Леопард»</a></p>
                <br>
                <p class="gallery-text-name">Елена Гаврилина</p>
            </div>
        </div>
        <div class="gallery-item">
            <div class="gallery-top">
                <a href="#" class="gallery-item-img-link">
                    <div class="gallery-item-img">
                        <img class="gal-img1" src="images/src/gallery/leo/1.jpg">
                        <img class="gal-big-img" src="images/src/gallery/leo/3.jpg">
                        <img class="gal-img2" src="images/src/gallery/leo/2.jpg">
                    </div>
                </a>
                <div class="gal-fast">
                    <img src="images/src/gallery/fast.png">
                </div>
            </div>
            <div class="gallery-text">
                <p class="gallery-text-small">Картина по номерам, 40x50 см</p>
                <p class="gallery-text-main"><a href="#">«Леопард»</a></p>
                <br>
                <p class="gallery-text-name">Елена Гаврилина</p>
            </div>
        </div>
    </div>
    <div class="com-lower">
        <a href="#" class="com-arrow"><img src="images/src/comments/arrow1.svg"></a>
            <div class="com-lower-numbers">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
            </div>
        <a href="#" class="com-arrow"><img src="images/src/comments/arrow2.svg"></a>
    </div>
</main>

<%- include('include/footer.ejs') %>