<%- include('include/header.ejs') %>
<main>
    <!-- секция слайд-шоу -->
    <section class="section-slide">
        <img class="wave2" src="images/src/wave2.svg">
        <div class="index-headertext">
            <img src="images/src/logo-big.svg">
            <p>Индивидуальное изготовление хобби товаров<br>по любому изображению с неповторимым уровнем сервиса.<br><b>Качество - главное отличие!</b><br><span>Займись со мной живописью</span>
            </p>
        </div>
        <div class="index-promoblock">
            <img src="images/src/wave.svg"><span>Быстрота исполнения</span>
            <img src="images/src/wave.svg"><span>Ручная работа</span><br>
            <img src="images/src/wave.svg"><span>Безупречное качество</span><img src="images/src/wave.svg">
        </div>
        <div class="index-slideblock">
            <div class="slider-container">
                <div class="slider-slide fade">
                    <img src="images/src/slider/1.jpg">
                </div>
                <div class="slider-slide fade">
                    <img src="images/src/slider/1.jpg">
                </div>
                <div class="slider-slide fade">
                    <img src="images/src/slider/1.jpg">
                </div>
                <div class="slider-slide fade">
                    <img src="images/src/slider/1.jpg">
                </div>
                <div class="slider-slide fade">
                    <img src="images/src/slider/1.jpg">
                </div>
                <div class="slider-slide fade">
                    <img src="images/src/slider/1.jpg">
                </div>
                <div class="slider-btns">
                    <a class="slider-prev" onclick="plusSlide(-1)"><i></i></a>
                    <a class="slider-next" onclick="plusSlide(1)"><i></i></a>
                </div>
                <div class="slider-dots">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(6)"></span>
                </div>
            </div>
        </div>
    </section>

    <!-- секция категорий -->
    <section class="section-catalog">
        <img class="bg-image" src="images/src/section-catalog-img.png" height="378px">
        <div class="sec-container">
        <p class="section-text">Выберите себе<br><span>занятие по душе</span></p>

        <!-- здесь блоки категорий -->
        <ul class="block-nav-container">
            <li class="block-nav-item"><a class="block-nav-img-a" href="pic-num-photo.html"><img src="images/src/menu/menu7.png"></a><a class="block-nav-a" href="pic-num-photo.html">Картины<br>по номерам<br>по фото</a></li>
            <li class="block-nav-item block-nav-item-big1"><a class="block-nav-img-a" href="art-therapy.html"><img src="images/src/menu/menu2_big.png"></a>
                <a class="block-nav-a-big" href="art-therapy.html">Арт-терапия</a>
                <p class="block-nav-desctext">Индивидуальный сет для:</p>
                <ul class="block-nav-descpoint">
                    <li>повышения уровня концентрации;</li>
                    <li>укрепление своей памяти;</li>
                    <li>развитие моторики.</li>
                </ul>
            </li>
            <li class="block-nav-item"><a class="block-nav-img-a" href="pic-straz.html"><img src="images/src/menu/menu3.png"></a><a class="block-nav-a" href="pic-straz.html">Картины<br>стразами</a></li>
            <li class="block-nav-item"><a class="block-nav-img-a" href="vishivka.html"><img src="images/src/menu/menu4.png"></a><a class="block-nav-a" href="vishivka.html">Вышивка<br>по фото</a></li>
            <li class="block-nav-item"><a class="block-nav-img-a" href="pic-derevo.html"><img src="images/src/menu/menu5.png"></a><a class="block-nav-a" href="pic-derevo.html">Картины<br>по фото<br>по дереву</a></li>
            <li class="block-nav-item"><a class="block-nav-img-a" href="pic-pazl.html"><img src="images/src/menu/menu6.png"></a><a class="block-nav-a" href="pic-pazl.html">Пазлы по<br>фотографии</a></li>
            <li class="block-nav-item"><a class="block-nav-img-a" href="pic-num.html"><img src="images/src/menu/menu1.png"></a><a class="block-nav-a" href="pic-num.html">Картины<br>по номерам</a></li>
            <li class="block-nav-item"><a class="block-nav-img-a" href="mandaly.html"><img src="images/src/menu/menu8.png"></a><a class="block-nav-a" href="mandaly.html">Мандалы</a></li>
            <li class="block-nav-item block-nav-item-big3"><a class="block-nav-img-a" href="al-moz.html"><img src="images/src/menu/menu10_big.png"></a><a class="block-nav-a" href="al-moz.html">Алмазная<br>мозайка</a></li>
            <li class="block-nav-item"><a class="block-nav-img-a" href="masters.html"><img src="images/src/menu/menu9.png"></a><a class="block-nav-a" href="masters.html">Мастер<br>классы</a></li>
            <!-- <li class="block-nav-item block-nav-item-big2"><a class="block-nav-img-a" href="pic-epoxid.html"><img src="images/src/menu/menu10_big.png"></a><a class="block-nav-a-big" href="pic-epoxid.html">Алмазная мозайка</a></li> -->
            <li class="block-nav-item block-nav-item-big2"><a class="block-nav-img-a" href="pic-epoxid.html"><img src="images/src/menu/menu9.png"></a><a class="block-nav-a" href="pic-epoxid.html">Картины из<br>эпоксидной<br>смолы</a></li>
        </ul>

        <div class="btn-make-order-div"><a href="#" class="btn-make-order">ОФОРМИТЬ ЗАКАЗ</a></div>
        </div>
    </section>

    <!-- секция промо материала -->
    <section class="section-promo">
        <div class="promo-block">
            <img class="promo-image" src="images/src/site-images/promo1.png">
            <img class="promo-image2" src="images/src/promo-bg.png">
        </div>
        <div class="promo-text">
            <p class="promo-headtext">Раскрась<br>свою жизнь</p>
            <p class="promo-foottext">Скучные картины по номерам из канцелярии не про нас.<br>Мы учитываем ваши пожелания,<br>создавая индивидуальный эскиз на<br>любой выбор: личные фотографии, изображения ваших<br>питомцев, серии фото ваших любимых<br>звезд и исполнителей.<br><br>Это может стать вашим новым хобби,<br>а мы с радостью в этом поможем:<br>полный набор для продуктивной арт-терапии<br>находится от вас на расстоянии нескольких кликов.<br>Все, что требуется от вас<br>– это получить набор и начать творить.</p>
        </div>
    </section>

    <!-- секция создания картины по фото -->
    <section class="section-order">
        <form class="calc" method="post" action="" enctype="multipart/form-data">
        
        <div class="order-wave">
            <img src="images/src/wave2.svg"><h3>Как выбрать<br>наилучшее фото?</h3>
        </div>

        <div class="order-top">
            <div class="order-top-div">
            <ul class="order-ul">
                <li class="order-ul-li order-ul-li-main">Загрузите любое изображение того, что вы хотели бы<br>нарисовать, включая:</li>
                <ul class="order-sub-ul">
                    <li>Фото питомцев</li>
                    <li>Портретные фото</li>
                    <li>Селфи</li>
                    <li>Фото по пояс</li>
                    <li>Леса, океаны</li>
                    <li>Любое другое изображение в хорошем освещении</li>
                </ul>
                <li class="order-ul-li">Наши дизайнеры подготовят эскиз вашей будущей картины совершенно бесплатно, а затем обязательно согласуют его с вами;</li>
                <li class="order-ul-li">После сборки заказа мы доставляем укомплектованныйнабор в любую точку России;</li>
                <li class="order-ul-li">Радостно распаковываете нашу посылку и занимаетесь творчеством!</li>
            </ul>

            <p class="order-top-subtext">
                Мы дополнительно проконсультируем вас в случае,<br>если вы затрудняетесь выбрать нужное фото.<br>Вы всегда можете загрузить несколько фотографий,<br>и выбрать то, что вам больше нравится.
            </p>
            </div>

            <div class="order-upload">
                <input id="default-btn" type="file" id="file" name="image" accept="image/*" hidden>
                <div class="order-upload-box">
                    <img src="images/src/upload-pic.png">
                    <p>перетащите картинку сюда или</p>
                    <a onclick="defaultBtnActive()" class="upload-btn">загрузите файл</a>
                </div>
                <p class="order-upload-text">
                    <b>Требования к фото:</b>
                    Расширение файла: bmp, gif, jpeg, jpg, pdf, png, tif, tiff
                    <br>Размер: от 100 кб до 30 мб
                    <br>Минимальная ширина и высота: 1000px
                </p>
            </div>

            <script>
                const defaultBtn = document.querySelector("#default-btn");
                const uploadBtn = document.querySelector("#upload-btn");

                function defaultBtnActive() {
                    defaultBtn.click();
                }
            </script>

            <!-- <div class="oreder-slider">
                
            </div> -->
        </div>

        <h3>Калькулятор стоимости картины:</h3>

        <div class="calc-container">
            <div class="сalc-block">
            <div class="calc-top">
                <div class="calc-top-item with-border">
                    <p class="calc-top-h">Ориентация и размеры:</p>
                    <div class="calc-top-btns">
                        <input type="radio" name="ver-hor" value="vertical" id="ver" hidden>
                        <input type="radio" name="ver-hor" value="horizontal" id="hor" hidden>
                        <a onclick="calcBtnActive1()" class="calc-btn">Вертикальная</a>
                        <a onclick="calcBtnActive2()" class="calc-btn">Горизонтальная</a>
                    </div>
                    <select name="size" id="sel-size">
                        <option id="sel-size-option1">30x30 см</option>
                        <option id="sel-size-option2">30х40 см</option>
                        <option id="sel-size-option3">40х50 см</option>
                        <option id="sel-size-option4">40х60 см</option>
                        <option id="sel-size-option5">50х50 см</option>
                        <option id="sel-size-option6">50x60 см</option>
                        <option id="sel-size-option7">50x70 см</option>
                    </select>
                </div>
                <div class="calc-top-item">
                    <div class="calc-top-child">
                        <p class="calc-top-h2">Мольберт</p>
                        <select name="molbert" id="sel-molbert">
                            <option id="sel-molbert1">Без мольберта</option>
                            <option id="sel-molbert2">Мольберт Настольный</option>
                            <option id="sel-molbert3">Мольберт Напольный</option>
                            <option id="sel-molbert4">Подставка для руки</option>
                        </select>
                    </div>
                    <div class="calc-top-child">
                        <p class="calc-top-h2">Акриловый лак</p>
                        <select name="ackril-lak" id="sel-lak">
                            <option id="sel-lak1">Без лака</option>
                            <option id="sel-lak2">Матовый 15мл</option>
                            <option id="sel-lak3">Глянцевый 15мл</option>
                            <option id="sel-lak4">Сатиновый спрей (защитный) 300мл США</option>
                            <option id="sel-lak5">Сатиновый кристальный спрей (против выцветания, не желтит, быстросохнущий) 300мл США</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="calc-top-wide">
                <p>Сложность:</p>
                <div class="calc-complex">
                    <input onclick="calcHard(5)" type="radio" id="complex5" name="complex"><label for="complex5"></label>
                    <input onclick="calcHard(4)" type="radio" id="complex4" name="complex"><label for="complex4"></label>
                    <input onclick="calcHard(3)" type="radio" id="complex3" name="complex"><label for="complex3"></label>
                    <input onclick="calcHard(2)" type="radio" id="complex2" name="complex"><label for="complex2"></label>
                    <input onclick="calcHard(1)" type="radio" id="complex1" name="complex"><label for="complex1"></label>
                </div>
            </div>
            <fieldset class="index-filedset">
                <legend>Количество цветов:</legend>
                <input type="radio" name="num-color" value="to30" id="30"><span>До 30</span>
                <br>
                <input type="radio" name="num-color" value="to50" id="50"><span>До 50</span>
            </fieldset>
            <fieldset class="index-filedset">
                <legend>Рамка:</legend>
                <input type="radio" name="border" value="with-broder" id="with-broder"><span>С рамкой</span>
                <br>
                <input type="radio" name="border" value="no-broder" id="no-broder"><span>Без рамки</span>
            </fieldset>
            <fieldset class="index-filedset">
                <legend>Упаковка:</legend>
                <input type="radio" name="box" value="classic-box" id="classic"><span>Классическая</span>
                <br>
                <input type="radio" name="box" value="present-box" id="present"><span>В подарок</span>
            </fieldset>
            <fieldset class="index-filedset">
                <legend>Подставка:</legend>
                <input type="radio" name="stand" value="with-stand" id="with-stand"><span>С подставкой</span>
                <br>
                <input type="radio" name="stand" value="no-stand" id="no-stand"><span>Без подставки</span>
            </fieldset>
            <fieldset class="index-filedset">
                <legend>Открытка:</legend>
                <input type="radio" name="card" value="with-card" id="with-card"><span>С открыткой</span>
                <br>
                <input type="radio" name="card" value="no-card" id="no-card"><span>Без открытки</span>
            </fieldset>
            <fieldset class="index-filedset">
                <legend>Ленточка:</legend>
                <input type="radio" name="ribbon" value="with-ribbon" id="with-ribbon"><span>C ленточкой</span>
                <br>
                <input type="radio" name="ribbon" value="no-ribbon" id="no-ribbon"><span>Без ленточки</span>
            </fieldset>
            </div>
            <div class="calc-check-block">
                <div>
                    <input type="checkbox" name="fux" id="fux1">
                    <label for="fux">Использовать цвета фуксии</label>
                </div>
                <div>
                    <input type="checkbox" name="photoshop" id="photoshop1">
                    <label for="photoshop">Нужен фотошоп</label>
                </div>
                <div>
                    <input type="checkbox" name="consult" id="consult1">
                    <label for="consult">Нужна консультация</label>
                </div>
                <div>
                    <input type="checkbox" name="dop-brush" id="dop-brush1">
                    <label for="dop-brush">Дополнительный набор кистей</label>
                </div>
                <div>
                    <input type="checkbox" name="dop-paint" id="dop-paint1">
                    <label for="dop-paint">Дополнительный набор красок</label>
                </div>
                <a onclick="calc()" class="btn-make-order btn-calc-order">РАССЧИТАТЬ СТОИМОСТЬ</a>
            </div>

            <div class="calc-block-mob">
                <div class="calc-mob-item mob-with-border">
                    <p class="calc-mob-text-h">Ориентация и размеры:</p>
                    <div class="calc-mob-btns">
                        <a onclick="calcBtnActive1()" class="calc-btn">Вертикальная</a>
                        <a onclick="calcBtnActive2()" class="calc-btn">Горизонтальная</a>
                        <script>
                            var BtnActive = document.getElementsByClassName("calc-btn");
                            var BtnRadioVer = document.getElementById("ver");
                            var BtnRadioHor = document.getElementById("hor");

                            BtnActive[0].className = "calc-btn calc-btn-active";
                            BtnActive[1].className = "calc-btn";
                            BtnActive[2].className = "calc-btn calc-btn-active";
                            BtnActive[3].className = "calc-btn";
                            BtnRadioVer.click();

                            function calcBtnActive1() {
                                BtnActive[0].className = "calc-btn calc-btn-active";
                                BtnActive[1].className = "calc-btn";
                                BtnActive[2].className = "calc-btn calc-btn-active";
                                BtnActive[3].className = "calc-btn";

                                BtnRadioVer.click();
                                calcVerHor(1);
                            }
                            function calcBtnActive2() {
                                BtnActive[0].className = "calc-btn";
                                BtnActive[1].className = "calc-btn calc-btn-active";
                                BtnActive[2].className = "calc-btn";
                                BtnActive[3].className = "calc-btn calc-btn-active";

                                BtnRadioHor.click();
                                calcVerHor(2);
                            }
                        </script>
                    </div>
                    <select class="mob-main-sel" name="size" id="sel-size">
                        <option id="sel-mob-size-option1">30x30 см</option>
                        <option id="sel-mob-size-option2">30х40 см</option>
                        <option id="sel-mob-size-option3">40х50 см</option>
                        <option id="sel-mob-size-option4">40х60 см</option>
                        <option id="sel-mob-size-option5">50х50 см</option>
                        <option id="sel-mob-size-option6">50x60 см</option>
                        <option id="sel-mob-size-option7">50x70 см</option>
                    </select>
                </div>
                <div class="calc-mob-item">
                    <p class="calc-mob-text-h">Мольберт</p>
                    <select class="mob-main-sel" name="molbert" id="sel-molbert">
                        <option id="sel-mob-mol-option1">Без мольберта</option>
                        <option id="sel-mob-mol-option2">Мольберт Настольный</option>
                        <option id="sel-mob-mol-option3">Мольберт Напольный</option>
                        <option id="sel-mob-mol-option4">Подставка для руки</option>
                    </select>
                </div>
                <div class="calc-mob-item">
                    <p class="calc-mob-text-h">Акриловый лак</p>
                    <select class="mob-main-sel" name="ackril-lak" id="sel-lak">
                        <option id="sel-mob-lak-option1">Без лака</option>
                        <option id="sel-mob-lak-option2">Матовый 15мл</option>
                        <option id="sel-mob-lak-option3">Глянцевый 15мл</option>
                        <option id="sel-mob-lak-option4">Сатиновый спрей (защитный) 300мл США</option>
                        <option id="sel-mob-lak-option5">Сатиновый кристальный спрей (против выцветания, не желтит, быстросохнущий) 300мл США</option>
                    </select>
                </div>
                <div class="calc-top-wide">
                    <p>Сложность:</p>
                    <div class="calc-complex">
                        <input type="radio" id="complex5" name="complex"><label for="complex5"></label>
                        <input type="radio" id="complex4" name="complex"><label for="complex4"></label>
                        <input type="radio" id="complex3" name="complex"><label for="complex3"></label>
                        <input type="radio" id="complex2" name="complex"><label for="complex2"></label>
                        <input type="radio" id="complex1" name="complex"><label for="complex1"></label>
                    </div>
                </div>
                <div class="calc-mob-item mob-lower-item">
                    <div class="calc-mob-list">
                        <p>Количество цветов:</p>
                        <select class="calc-mob-sel" name="colors" id="sel-colors">
                            <option id="calc-mob-sel-colors-1">До 30</option>
                            <option id="calc-mob-sel-colors-2">До 50</option>
                        </select>
                    </div>
                    <div class="calc-mob-list">
                        <p>Рамка:</p>
                        <select class="calc-mob-sel" name="border" id="sel-border">
                            <option id="calc-mob-sel-border-1">Без ленты</option>
                            <option id="calc-mob-sel-border-2">Цветная лента</option>
                        </select>
                    </div>
                    <div class="calc-mob-list">
                        <p>Упаковка:</p>
                        <select class="calc-mob-sel" name="box" id="sel-box">
                            <option id="calc-mob-sel-box-1">Классическая</option>
                            <option id="calc-mob-sel-box-2">В подарок</option>
                        </select>
                    </div>
                    <div class="calc-mob-list">
                        <p>Подставка:</p>
                        <select class="calc-mob-sel" name="stand" id="sel-stand">
                            <option id="calc-mob-sel-stand-1">С подставкой</option>
                            <option id="calc-mob-sel-stand-2">Без подставки</option>
                        </select>
                    </div>
                    <div class="calc-mob-list">
                        <p>Открытка:</p>
                        <select class="calc-mob-sel" name="card" id="sel-card">
                            <option id="calc-mob-sel-card-1">С открыткой</option>
                            <option id="calc-mob-sel-card-2">Без открытки</option>
                        </select>
                    </div>
                    <div class="calc-mob-list">
                        <p>Ленточка:</p>
                        <select class="calc-mob-sel" name="ribbon" id="sel-ribbon">
                            <option id="calc-mob-sel-ribbon-1">C ленточкой</option>
                            <option id="calc-mob-sel-ribbon-2">Без ленточки</option>
                        </select>
                    </div>
                </div>
                <div class="calc-check-block-mob">
                    <div>
                        <input type="checkbox" name="fux" id="fux2">
                        <label for="fux">Использовать цвета фуксии</label>
                    </div>
                    <div>
                        <input type="checkbox" name="photoshop" id="photoshop2">
                        <label for="photoshop">Нужен фотошоп</label>
                    </div>
                    <div>
                        <input type="checkbox" name="consult" id="consult2">
                        <label for="consult">Нужна консультация</label>
                    </div>
                    <div>
                        <input type="checkbox" name="dop-brush" id="dop-brush2">
                        <label for="dop-brush">Дополнительный набор кистей</label>
                    </div>
                    <div>
                        <input type="checkbox" name="dop-paint" id="dop-paint2">
                        <label for="dop-paint">Дополнительный набор красок</label>
                    </div>
                    <a onclick="calcMob()" class="btn-make-order btn-calc-order">РАССЧИТАТЬ СТОИМОСТЬ</a>
                </div>
            </div>
        </div>

        <p class="order-lower-price-t" id="calc-price-1">Итог: <span><b>1990 р.</b></span></p>

        <div class="order-lower">
            <div class="order-lower-price">
                <p class="order-lower-p1">Итог:</p>
                <p class="order-lower-p2" id="calc-price-2">1990 р.</p>
            </div>

            <button class="order-lower-btn">Добавить еще</button>
            <button class="order-lower-btn">заказать картину</button>
        </div>

        </form>
    </section>
    <script>
        var sliderIndex = 1;
        var k = 3;
        showSlides(sliderIndex);

        function plusSlide(n) {
            showSlides(sliderIndex += n);
        }

        function currentSlide(n) {
            showSlides(sliderIndex = n);
        }

        function sec() {
            sliderIndex += 1;
            showSlides(sliderIndex);
        }

        setInterval(sec, 3500)

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("slider-slide");
            var dot = document.getElementsByClassName("dot");

            if (n > slides.length) {
                sliderIndex = 1;
            }

            if (n < 1) {
                sliderIndex = slides.length;
            }

            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }

            for (i = 0; i < dot.length; i++) {
                dot[i].className = dot[i].className.replace("dot-active", "");
            }

            slides[sliderIndex-1].style.display = "block";
            dot[sliderIndex-1].className += " dot-active";
        }
    </script>

    <script>
        var price = 0;
        var price1 = document.getElementById("calc-price-1");
        var price2 = document.getElementById("calc-price-2");

        var calcHardValue = 0;

        price1.innerHTML = "Итог: <span><b>" + price + " р.</b>";
        price2.innerHTML = price + " р.";

        function calcVerHor() {
            if (document.getElementById("ver").checked == true) {
                return 1;
            }
            if (document.getElementById("hor").checked == true) {
                return 2;
            }
        }

        function calcSize() {
            if (document.getElementById("sel-size-option1").selected == true) {
                return 1;
            }
            if (document.getElementById("sel-size-option2").selected == true) {
                return 2;
            }
            if (document.getElementById("sel-size-option3").selected == true) {
                return 3;
            }
            if (document.getElementById("sel-size-option4").selected == true) {
                return 4;
            }
            if (document.getElementById("sel-size-option5").selected == true) {
                return 5;
            }
            if (document.getElementById("sel-size-option6").selected == true) {
                return 6;
            }
            if (document.getElementById("sel-size-option7").selected == true) {
                return 7;
            }
        }

        function calcMol() {
            if (document.getElementById("sel-molbert1").selected == true) {
                return 1;
            }
            if (document.getElementById("sel-molbert2").selected == true) {
                return 2;
            }
            if (document.getElementById("sel-molbert3").selected == true) {
                return 3;
            }
            if (document.getElementById("sel-molbert4").selected == true) {
                return 4;
            }
        }

        function calcLak() {
            if (document.getElementById("sel-lak1").selected == true) {
                return 1;
            }
            if (document.getElementById("sel-lak2").selected == true) {
                return 2;
            }
            if (document.getElementById("sel-lak3").selected == true) {
                return 3;
            }
            if (document.getElementById("sel-lak4").selected == true) {
                return 4;
            }
            if (document.getElementById("sel-lak5").selected == true) {
                return 5;
            }
        }

        function calcHard(value) {
            calcHardValue = value;
        }

        function calcChecks() {
            var calcChecksValue = 0;

            if (document.getElementById("fux1").checked == true) {
                calcChecksValue += 100;
            }
            if (document.getElementById("photoshop1").checked == true) {
                calcChecksValue += 200;
            }
            if (document.getElementById("consult1").checked == true) {
                calcChecksValue += 300;
            }
            if (document.getElementById("dop-brush1").checked == true) {
                calcChecksValue += 400;
            }
            if (document.getElementById("dop-paint1").checked == true) {
                calcChecksValue += 500;
            }

            if (document.getElementById("fux2").checked == true) {
                calcChecksValue += 100;
            }
            if (document.getElementById("photoshop2").checked == true) {
                calcChecksValue += 200;
            }
            if (document.getElementById("consult2").checked == true) {
                calcChecksValue += 300;
            }
            if (document.getElementById("dop-brush2").checked == true) {
                calcChecksValue += 400;
            }
            if (document.getElementById("dop-paint2").checked == true) {
                calcChecksValue += 500;
            }

            return calcChecksValue;
        }

        function calcRadios() {
            var calcRadiosValue = 0;
            if (document.getElementById("30").checked == true) {
                calcRadiosValue += 1;
            }
            if (document.getElementById("50").checked == true) {
                calcRadiosValue += 2;
            }

            if (document.getElementById("with-broder").checked == true) {
                calcRadiosValue += 1;
            }
            if (document.getElementById("no-broder").checked == true) {
                calcRadiosValue += 2;
            }

            if (document.getElementById("classic").checked == true) {
                calcRadiosValue += 1;
            }
            if (document.getElementById("present").checked == true) {
                calcRadiosValue += 2;
            }

            if (document.getElementById("with-stand").checked == true) {
                calcRadiosValue += 1;
            }
            if (document.getElementById("no-stand").checked == true) {
                calcRadiosValue += 2;
            }

            if (document.getElementById("with-card").checked == true) {
                calcRadiosValue += 1;
            }
            if (document.getElementById("no-card").checked == true) {
                calcRadiosValue += 2;
            }

            if (document.getElementById("with-ribbon").checked == true) {
                calcRadiosValue += 1;
            }
            if (document.getElementById("no-ribbon").checked == true) {
                calcRadiosValue += 2;
            }
            return calcRadiosValue;
        }

        function calcSizeMob() {
            if (document.getElementById("sel-mob-size-option1").selected == true) {
                return 1;
            }
            if (document.getElementById("sel-mob-size-option2").selected == true) {
                return 2;
            }
            if (document.getElementById("sel-mob-size-option3").selected == true) {
                return 3;
            }
            if (document.getElementById("sel-mob-size-option4").selected == true) {
                return 4;
            }
            if (document.getElementById("sel-mob-size-option5").selected == true) {
                return 5;
            }
            if (document.getElementById("sel-mob-size-option6").selected == true) {
                return 6;
            }
            if (document.getElementById("sel-mob-size-option7").selected == true) {
                return 7;
            }
        }

        function calcMolMob() {
            if (document.getElementById("sel-mob-mol-option1").selected == true) {
                return 1;
            }
            if (document.getElementById("sel-mob-mol-option2").selected == true) {
                return 2;
            }
            if (document.getElementById("sel-mob-mol-option3").selected == true) {
                return 3;
            }
            if (document.getElementById("sel-mob-mol-option4").selected == true) {
                return 4;
            }
        }

        function calcMobLak() {
            if (document.getElementById("sel-mob-lak-option1").selected == true) {
                return 1;
            }
            if (document.getElementById("sel-mob-lak-option2").selected == true) {
                return 2;
            }
            if (document.getElementById("sel-mob-lak-option3").selected == true) {
                return 3;
            }
            if (document.getElementById("sel-mob-lak-option4").selected == true) {
                return 4;
            }
            if (document.getElementById("sel-mob-lak-option5").selected == true) {
                return 5;
            }
        }

        function calcMobList() {
            var calcMobListValue = 0;

            if (document.getElementById("calc-mob-sel-colors-1").selected == true) {
                calcMobListValue += 1;
            }
            if (document.getElementById("calc-mob-sel-colors-2").selected == true) {
                calcMobListValue += 2;
            }

            if (document.getElementById("calc-mob-sel-border-1").selected == true) {
                calcMobListValue += 1;
            }
            if (document.getElementById("calc-mob-sel-border-2").selected == true) {
                calcMobListValue += 2;
            }

            if (document.getElementById("calc-mob-sel-box-1").selected == true) {
                calcMobListValue += 1;
            }
            if (document.getElementById("calc-mob-sel-box-2").selected == true) {
                calcMobListValue += 2;
            }

            if (document.getElementById("calc-mob-sel-stand-1").selected == true) {
                calcMobListValue += 1;
            }
            if (document.getElementById("calc-mob-sel-stand-2").selected == true) {
                calcMobListValue += 2;
            }

            if (document.getElementById("calc-mob-sel-card-1").selected == true) {
                calcMobListValue += 1;
            }
            if (document.getElementById("calc-mob-sel-card-2").selected == true) {
                calcMobListValue += 2;
            }

            if (document.getElementById("calc-mob-sel-ribbon-1").selected == true) {
                calcMobListValue += 1;
            }
            if (document.getElementById("calc-mob-sel-ribbon-2").selected == true) {
                calcMobListValue += 2;
            }

            return calcMobListValue;
        }

        function calc() {
            var sum;

            sum = calcVerHor() + calcSize() + calcMol() + calcLak() + calcHardValue + calcChecks() + calcRadios();
            console.log(sum);
            price = sum;
            price1.innerHTML = "Итог: <span><b>" + price + " р.</b>";
            price2.innerHTML = price + " р.";
        }
        function calcMob() {
            var sum;

            sum = calcVerHor() + calcHardValue + calcChecks() + calcSizeMob() + calcMolMob() + calcMobLak() + calcMobList();
            console.log(sum);
            price = sum;
            price1.innerHTML = "Итог: <span><b>" + price + " р.</b>";
            price2.innerHTML = price + " р.";
        }
    </script>
</main>

<%- include('include/footer.ejs') %>
