<%- include('include/header.ejs') %>
<main>
    <!-- секция слайд-шоу -->
    <section class="section-slide">
        <img class="wave2" src="images/src/wave2.svg">
        <div class="index-headertext">
            <img src="images/src/logo-big.svg">
            <p>Индивидуальное изготовление картин по номерам<br>по любой фотографии с неповторимым уровнем сервиса.<br><span>Раскрась свою жизнь!</span>
            </p>
        </div>
        <div class="index-promoblock">
            <img src="images/src/wave.svg"><span>Быстрота исполнения</span>
            <img src="images/src/wave.svg"><span>Красивая упаковка</span><br>
            <span>Отличное соотношение цена\качетво</span><img src="images/src/wave.svg">
        </div>
        <div class="index-slideblock"></div>
    </section>

    <!-- секция категорий -->
    <section class="section-catalog">
        <img class="bg-image" src="images/src/section-catalog-img.png" height="378px">
        <div class="sec-container">
        <p class="section-text">Выберите себе<br><span>занятие по душе</span></p>

        <!-- здесь блоки категорий -->
        <ul class="block-nav-container">
            <li class="block-nav-item"><img src="images/src/menu/menu1.png"><a href="#">Картины<br>по номерам</a></li>
            <li class="block-nav-item block-nav-item-big1"><img src="images/src/menu/menu2_big.png">
                <a href="art-therapy.html">Арт-терапия</a>
                <p class="block-nav-desctext">Индивидуальный сет для:</p>
                <ul class="block-nav-descpoint">
                    <li>повышения уровня концентрации;</li>
                    <li>укрепление своей памяти;</li>
                    <li>развития внимания.</li>
                </ul>
            </li>
            <li class="block-nav-item"><img src="images/src/menu/menu3.png"><a href="pic-straz.html">Картины<br>по стразам</a></li>
            <li class="block-nav-item"><img src="images/src/menu/menu4.png"><a href="#">Вышивка<br>по фото</a></li>
            <li class="block-nav-item"><img src="images/src/menu/menu5.png"><a href="#">Картины<br>по фото<br>по дереву</a></li>
            <li class="block-nav-item"><img src="images/src/menu/menu6.png"><a href="#">Пазлы по<br>фотографии</a></li>
            <li class="block-nav-item"><img src="images/src/menu/menu7.png"><a href="#">Картины<br>по номерам<br>по фото</a></li>
            <li class="block-nav-item"><img src="images/src/menu/menu8.png"><a href="#">Мандалы</a></li>
            <li class="block-nav-item"><img src="images/src/menu/menu9.png"><a href="#">Мастер<br>классы</a></li>
            <li class="block-nav-item block-nav-item-big2"><img src="images/src/menu/menu10_big.png"><a href="#">Алмазная мозайка</a></li>
        </ul>

        <div class="btn-make-order-div"><a href="#" class="btn-make-order">ОФОРМИТЬ ЗАКАЗ</a></div>
        </div>
    </section>

    <!-- секция промо материала -->
    <section class="section-promo">
        <div class="promo-block">
            <img class="promo-image" src="images/src/site-images/promo1.png">
            <img class="promo-image2" src="images/src/promo-bg.png">
        </div>
        <div class="promo-text">
            <p class="promo-headtext">Раскрась<br>свою жизнь</p>
            <p class="promo-foottext">Хотите рисовать, стать настоящим<br>художником, создателем прекрасных<br>картин, и готовы потратить на это занятие<br>время?<br><br>Тогда вам подойдет набор для живописи<br>на холсте. Вы получите истинное<br>удовольствие от погружения в процесс<br>творчества, а такая картина станет<br>изюминкой интерьера, привлекающей<br>внимание всех ваших гостей.</p>
        </div>
    </section>

    <!-- секция создания картины по фото -->
    <section class="section-order">
        <!-- <img class="wave2 bottom" src="images/src/wave2.svg"> -->
        <form class="calc" method="post" action="#">

        <h3>Создание картины<br>по фото</h3>

        <ul>
            <li>Вы загружаете нам любое изображение,<br>включая фотографию.</li>
            <li>Наши дизайнеры изготавливают бесплатный эскиз<br>Вашей картины и согласовывают его с Вами.</li>
            <li>Изготавливаем набор для рисования, в который входит:<br>3 кисти, картина по номерам на натуральном холсте с подрамником, инструкция и все необходимые краски.</li>
            <li>Отправляем Вам (доставка по всей России).</li>
            <li>Рисуете индивидуальную картину по Вашей фотографии или любому изображению!</li>
        </ul>

        <h3>Калькулятор стоимости картины:</h3>

        <div class="calc-container">
            <div class="сalc-block">
            <fieldset>
                <legend>Ориентация и размеры:</legend>
                <input type="radio" name="ver-hor" value="vertical" id="ver"><span>Вертикальная</span>
                <input type="radio" name="ver-hor" value="horizontal" id="hor"><span>Горизонтальная</span>
                <br>
                <select name="size" id="sel-size">
                    <option>30x30 см</option>
                    <option>Пункт 2</option>
                    <option>Пункт 3</option>
                </select>
            </fieldset>
            <fieldset>
                <span>Мольберт</span>
                <br>
                <select name="molbert" id="sel-molbert">
                    <option>Без мольберта</option>
                </select>
                <br>
                <span>Акриловый лак</span>
                <br>
                <select name="ackril-lak" id="sel-lak">
                    <option>Без лака</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Количество цветов:</legend>
                <input type="radio" name="num-color" value="to30" id="30"><span>До 30</span>
                <br>
                <input type="radio" name="num-color" value="to50" id="50"><span>До 50</span>
            </fieldset>
            <fieldset>
                <legend>Рамка:</legend>
                <input type="radio" name="border" value="without" id="without"><span>Без ленты</span>
                <br>
                <input type="radio" name="border" value="colorful" id="colorful"><span>Цветная лента</span>
            </fieldset>
            <fieldset>
                <legend>Упаковка:</legend>
                <input type="radio" name="box" value="classic-box" id="classic"><span>Классическая</span>
                <br>
                <input type="radio" name="box" value="present-box" id="present"><span>В подарок</span>
            </fieldset>
            <fieldset>
                <legend>Количество цветов:</legend>
                <input type="radio" name="" value="" id=""><span>До 30</span>
                <br>
                <input type="radio" name="" value="" id=""><span>До 50</span>
            </fieldset>
            <fieldset>
                <legend>Рамка:</legend>
                <input type="radio" name="" value="" id=""><span>Без ленты</span>
                <br>
                <input type="radio" name="" value="" id=""><span>Цветная лента</span>
            </fieldset>
            <fieldset>
                <legend>Упаковка:</legend>
                <input type="radio" name="" value="" id=""><span>Классическая</span>
                <br>
                <input type="radio" name="" value="" id=""><span>В подарок</span>
            </fieldset>
            </div>
        </div>
        </form>
    </section>
</main>

<%- include('include/footer.ejs') %>
