<%- include('include/header.ejs') %>

<main>
    <!-- секция слайд-шоу -->
    <section>

    </section>

    <!-- секция категорий -->
    <section class="section-catalog">
        <div class="bg-image"></div>
        <img class="bg-image" src="images/src/section-catalog-img.png" height="378px">
        <p>ВЫБЕРЕТЕ СЕБЕ</p>
        <br>
        <p>ЗАНЯТИЕ ПО ДУШЕ</p>

        <!-- здесь блоки категорий -->
        <ul>
            <li><a href="#"><p>Картины<br>по номерам</p></a></li>
        </ul>

        <div><a href="#">ОФОРМИТЬ ЗАКАЗ</a></div>
    </section>

    <!-- секция промо материала -->
    <section>
        <div><img src="images/src/site-images/promo1.png" width="691px" height="474px"></div>
        <h3><p>Раскрась<br>свою жизнь</p></h3>
        <div>
            <p>
                Хотите рисовать, стать настоящим художником, создателем прекрасных картин, и готовы потратить на это занятие время? 
            </p>
            <br>
            <p>
                Тогда вам подойдет набор для живописи на холсте. Вы получите истинное удовольствие от погружения в процесс творчества, а такая картина станет изюминкой интерьера, привлекающей внимание всех ваших гостей.
            </p>
        </div>
    </section>

    <!-- секция создания картины по фото -->
    <section>
        <h3><p>Создание картины<br>по фото</p></h3>

        <ul>
            <li>Вы загружаете нам любое изображение,<br>включая фотографию.</li>
            <li>Наши дизайнеры изготавливают бесплатный эскиз<br>Вашей картины и согласовывают его с Вами.</li>
            <li>Изготавливаем набор для рисования, в который входит:<br>3 кисти, картина по номерам на натуральном холсте с подрамником, инструкция и все необходимые краски.</li>
            <li>Отправляем Вам (доставка по всей России).</li>
            <li>Рисуете индивидуальную картину по Вашей фотографии или любому изображению!</li>
        </ul>

        <h3>Калькулятор стоимости картины:</h3>
        <form class="calc" method="post" action="#">
            <fieldset>
                <legend>Ориентация и размеры:</legend>
                <input type="radio" name="ver-hor" value="vertical" id="ver">
                <select name="" id="">
                    <option>Пункт 1</option>
                    <option>Пункт 2</option>
                  </select>
            </fieldset>
        </form>
    </section>
</main>

<%- include('include/footer.ejs') %>
