<%- include('include/header.ejs') %>

<main class="masters">
    <div class="masters-container">
        <h1 class="service-h1 masters-h1"><b>Мастер-классы</b></h1>

        <div class="masters-top">
            <div class="masters-top-item">
                <div class="masters-top-left">
                    <div class="masters-top-left-content">
                        <img class="masters-num" src="images/src/masters/1.png">
                        <div>
                            <h2 class="masters-h2">Организация детских мероприятий</h2>
                            <p class="masters-desc">Организация детских мероприятий. В услугу входит наш профессиональный аниматор, картина на заказ и раскраска ее с детьми. Все наши аниматоры имеют актерское образование и прошли специальные курсы по работе с детьми. С ними ребенок ощущает себя максимально комфортно.</p>
                            <button class="page-shopbtn masters-btn">заказать</button>
                        </div>
                    </div>
                    <img class="masters-top-bg" src="images/src/masters/lines.svg">
                </div>
                <div class="masters-top-promo">
                    <img class="masters-top-img" src="images/src/masters/img1.jpg">
                </div>
            </div>
        </div>

        <div class="masters-top">
            <div class="masters-top-item">
                <div class="masters-top-left">
                    <div class="masters-top-left-content">
                        <img class="masters-num" src="images/src/masters/2.png">
                        <div>
                            <h2 class="masters-h2">Организация Дней Рождения</h2>
                            <p class="masters-desc">Организация детских мероприятий. В услугу входит наш профессиональный аниматор, картина на заказ и раскраска ее с детьми. Все наши аниматоры имеют актерское образование и прошли специальные курсы по работе с детьми. С ними ребенок ощущает себя максимально комфортно.</p>
                            <button class="page-shopbtn masters-btn">заказать</button>
                        </div>
                    </div>
                    <img class="masters-top-bg" src="images/src/masters/lines.svg">
                </div>
                <div class="masters-top-promo">
                    <img class="masters-top-img" src="images/src/masters/img2.jpg">
                </div>
            </div>
        </div>

        <div class="masters-top">
            <div class="masters-top-item">
                <div class="masters-top-left">
                    <div class="masters-top-left-content">
                        <img class="masters-num" src="images/src/masters/3.png">
                        <div>
                            <h2 class="masters-h2">Хочу удивить ребенка</h2>
                            <p class="masters-desc">Организация детских мероприятий. В услугу входит наш профессиональный аниматор, картина на заказ и раскраска ее с детьми. Все наши аниматоры имеют актерское образование и прошли специальные курсы по работе с детьми. С ними ребенок ощущает себя максимально комфортно.</p>
                            <button class="page-shopbtn masters-btn">заказать</button>
                        </div>
                    </div>
                    <img class="masters-top-bg" src="images/src/masters/lines.svg">
                </div>
                <div class="masters-top-promo">
                    <img class="masters-top-img" src="images/src/masters/img3.jpg">
                </div>
            </div>
        </div>

        <!-- <div class="masters-lower">
            <img class="masters-lower-bg" src="images/src/masters/bg.jpg">
            <div class="masters-lower-text">
                <p></p>
                <br>
                <p>Организация детских мероприятий. В услугу входит наш профессиональный аниматор, картина на заказ и раскраска ее с детьми. Все наши аниматоры имеют актерское образование и прошли специальные курсы по работе с детьми. С ними ребенок ощущает себя максимально комфортно.</p>
                <br>
                <p>Организация детских мероприятий. В услугу входит наш профессиональный аниматор, картина на заказ и раскраска ее с детьми. Все наши аниматоры имеют актерское образование и прошли специальные курсы по работе с детьми. С ними ребенок ощущает себя максимально комфортно.</p>
            </div>
        </div> -->
    </div>
</main>

<%- include('include/footer.ejs') %>