<%- include('include/header.ejs') %>

<main class="masters">
    <div class="masters-container">
        <h1 class="service-h1 masters-h1"><b>Мастер-классы</b></h1>

        <div class="masters-top">
            <div class="masters-top-item">
                <div class="masters-top-left">
                    <div class="masters-top-left-content">
                        <img class="masters-num" src="images/src/masters/1.png">
                        <div>
                            <h2 class="masters-h2">Организация детских мероприятий</h2>
                            <p class="masters-desc">Организация детских мероприятий. В услугу входит наш профессиональный аниматор, картина на заказ и раскраска ее с детьми. Все наши аниматоры имеют актерское образование и прошли специальные курсы по работе с детьми. С ними ребенок ощущает себя максимально комфортно.</p>
                            <a href="#masters-pop"><button class="page-shopbtn masters-btn">заказать</button></a>
                        </div>
                    </div>
                    <img class="masters-top-bg" src="images/src/masters/lines.svg">
                </div>
                <div class="masters-top-promo">
                    <img class="masters-top-img" src="images/src/masters/img1.jpg">
                </div>
            </div>
        </div>

        <div class="masters-top">
            <div class="masters-top-item">
                <div class="masters-top-left">
                    <div class="masters-top-left-content">
                        <img class="masters-num" src="images/src/masters/2.png">
                        <div>
                            <h2 class="masters-h2">Организация Дней Рождения</h2>
                            <p class="masters-desc">Организация детских мероприятий. В услугу входит наш профессиональный аниматор, картина на заказ и раскраска ее с детьми. Все наши аниматоры имеют актерское образование и прошли специальные курсы по работе с детьми. С ними ребенок ощущает себя максимально комфортно.</p>
                            <a href="#masters-pop"><button class="page-shopbtn masters-btn">заказать</button></a>
                        </div>
                    </div>
                    <img class="masters-top-bg" src="images/src/masters/lines.svg">
                </div>
                <div class="masters-top-promo">
                    <img class="masters-top-img" src="images/src/masters/img2.jpg">
                </div>
            </div>
        </div>

        <div class="masters-top">
            <div class="masters-top-item">
                <div class="masters-top-left">
                    <div class="masters-top-left-content">
                        <img class="masters-num" src="images/src/masters/3.png">
                        <div>
                            <h2 class="masters-h2">Хочу удивить ребенка</h2>
                            <p class="masters-desc">Организация детских мероприятий. В услугу входит наш профессиональный аниматор, картина на заказ и раскраска ее с детьми. Все наши аниматоры имеют актерское образование и прошли специальные курсы по работе с детьми. С ними ребенок ощущает себя максимально комфортно.</p>
                            <a href="#masters-pop"><button class="page-shopbtn masters-btn">заказать</button></a>
                        </div>
                    </div>
                    <img class="masters-top-bg" src="images/src/masters/lines.svg">
                </div>
                <div class="masters-top-promo">
                    <img class="masters-top-img" src="images/src/masters/img3.jpg">
                </div>
            </div>
        </div>

        <!-- <div class="masters-lower">
            <img class="masters-lower-bg" src="images/src/masters/bg.jpg">
            <div class="masters-lower-text">
                <p></p>
                <br>
                <p>Организация детских мероприятий. В услугу входит наш профессиональный аниматор, картина на заказ и раскраска ее с детьми. Все наши аниматоры имеют актерское образование и прошли специальные курсы по работе с детьми. С ними ребенок ощущает себя максимально комфортно.</p>
                <br>
                <p>Организация детских мероприятий. В услугу входит наш профессиональный аниматор, картина на заказ и раскраска ее с детьми. Все наши аниматоры имеют актерское образование и прошли специальные курсы по работе с детьми. С ними ребенок ощущает себя максимально комфортно.</p>
            </div>
        </div> -->
    </div>

    <section class="call-pop" id="masters-pop">
        <div class="call-pop-container masters-pop-container">
            <a class="pop-close" href="#"><img src="images/src/close.svg"></a>
            <img class="call-pop-img1" src="images/src/pop-vec1.png">
            <p class="call-pop-text1">Подберем программу для вашего праздника и рассчитаем стоимость, <span>с учетом ваших пожеланий</span></p>
            <p class="call-pop-text2">Ответьте на несколько вопросов и наш менеджер перезвонит вам в течение 15 минут, уточнит детали планируемого праздника и поможет определить оптимальный вариант программы!</p>
            <form class="call-form" method="post" action="#">
                <div class="call-form-div">
                    <label for="call-name">Как Вас зовут?</label><br>
                    <input type="text" name="call-name" id="call-name" placeholder="Елена">
                </div>
                <div class="call-form-div">
                    <label for="call-date">Желаемая дата:</label><br>
                    <input type="date" name="call-date" id="call-date">
                </div>
                <div class="call-form-div">
                    <label for="call-old">Сколько лет Вашему ребенку?</label><br>
                    <input type="number" name="call-old" id="call-old" placeholder="10">
                </div>
                <div class="call-form-div">
                    <label for="call-tel">Номер Вашего телефона:</label><br>
                    <input type="tel" name="call-tel" id="call-tel" placeholder="+7 999 000 09 90">
                </div>
                <div class="call-form-div">
                    <label for="call-email">Ваш E-mail:</label><br>
                    <input type="email" name="call-email" id="call-email" placeholder="email@email.ru">
                </div>
                <div class="call-btn">
                    <button type="submit">Отправить</button>
                </div>
            </form>
            <img class="call-pop-img2" src="images/src/pop-vec2.png">
        </div>
    </section>
</main>

<%- include('include/footer.ejs') %>