<%- include('include/header.ejs') %>

<main>
    <div class="cart-container">
        <div class="cart-top">
            <h2 class="cart-h2">корзина</h2>
            <h1 class="cart-h1">Оформление заказа и оплата</h1>
        </div>
        <div class="cart-top2">
            <div class="round round-dis">1</div>
            <img class="cart-line" src="images/src/line-grad2.svg">
            <div class="round">2</div>
        </div>
        <form class="order" method="post" action="#">
            <div class="order-mainform">
                <div class="order-mainform-left">
                    <h3 class="cart-h1 interest-text">Заполните данные получателя:</h3>
                    <div class="order-mainform-form">
                        <p>
                            <label class="form-lable order-lable" for="user-name">Ф.И.О. <span>*</span></label><br>
                            <input class="form-input order-input" id="user-name" type="text" name="user-name">
                        </p>
                        <p>
                            <label class="form-lable order-lable" for="user-email">E-mail <span>*</span></label><br>
                            <input class="form-input order-input" id="user-email" type="email" name="user-email">
                        </p>
                        <p>
                            <label class="form-lable order-lable" for="user-phone">Телефон <span>*</span></label><br>
                            <input class="form-input order-input" id="user-phone" type="tel" name="user-phone">
                        </p>
                    </div>
                </div>
                <div class="order-mainform-right">
                    <h3 class="cart-h1 interest-text">Адрес доставки:</h3>
                    <div class="order-mainform-form">
                        <p>
                            <label class="form-lable order-lable" for="user-street">Город, улица</label><br>
                            <input class="form-input order-input" id="user-street" type="text" name="user-street">
                        </p>
                        <div class="order-form-adres">
                            <p>
                                <label class="form-lable order-lable" for="user-home">Дом</label><br>
                                <input class="form-input order-input" id="user-home" type="text" name="user-home">
                            </p>
                            <p>
                                <label class="form-lable order-lable" for="user-apart">Квартира</label><br>
                                <input class="form-input order-input" id="user-apart" type="text" name="user-apart">
                            </p>
                            <p>
                                <label class="form-lable order-lable" for="user-ent">Подъезд</label><br>
                                <input class="form-input order-input" id="user-ent" type="text" name="user-ent">
                            </p>
                            <p>
                                <label class="form-lable order-lable" for="user-floor">Этаж</label><br>
                                <input class="form-input order-input" id="user-floor" type="text" name="user-floor">
                            </p>
                        </div>
                        <p>
                            <label class="form-lable order-lable" for="user-code">Код домофона</label><br>
                            <input class="form-input order-input domophone" id="user-code" type="text" name="user-code">
                        </p>
                    </div>
                </div>
            </div>
            <div class="order-comform">
                <h3 class="cart-h1 interest-text">Комментарии к заказу:</h3><br>
                <p>
                    <label class="form-lable order-lable" for="user-message">Дополнительная информация (необязательно)</label><br>
                    <textarea class="order-message" id="user-message" name="comment"></textarea>
                </p>
            </div>
            <div class="order-make-lower">
                <div class="order-lower-left">
                    <h3 class="cart-h1 interest-text order-h1">Выберите способ доставки:</h3>
                    <br><br>
                    <h3 class="cart-h3">По Москве:</h3>
                    <div class="order-del-list">
                        <div class="order-del-item">
                            <div><input type="radio" name="delivery" value="inMKAD" id="inMKAD"><span>Доставка внутри МКАД</span></div>
                            <p>500 руб.</p>
                        </div>
                        <div class="order-del-item">
                            <div><input type="radio" name="delivery" value="outMKAD" id="outMKAD"><span>Доставка за пределы МКАД до 3-х км</span></div>
                            <p>700 руб.</p>
                        </div>
                        <div class="order-del-item">
                            <div><input type="radio" name="delivery" value="out3MKAD" id="out3MKAD"><span>Доставка от МКАД далее 3-х км</span></div>
                            <p>1 000 руб.</p>
                        </div>
                        <div class="order-del-item">
                            <div><input type="radio" name="delivery" value="samo" id="samo"><span>Самовывоз</span></div>
                            <p>Бесплатно</p>
                        </div>
                    </div>
                    <br>
                    <h3 class="cart-h3">Доставка в регионы:</h3>
                    <div class="order-del-list">
                        <div class="order-del-item">
                            <div><input type="radio" name="delivery" value="mail" id="mail"><span>1 класс (Почта России)</span></div>
                            <p>700 руб.</p>
                        </div>
                        <div class="order-del-item">
                            <div><input type="radio" name="delivery" value="mailEMS" id="mailEMS"><span>Курьером EMS (Почта России)</span></div>
                            <span class="order-del-ind">Рассчитывается индивидуально</span>
                        </div>
                    </div>
                    <div class="order-del-list-red">
                        <div class="order-del-item">
                            <div><input type="radio" name="delivery" value="fast" id="fast"><span><b>Срочный заказ</b></span></div>
                            <p>1 000 руб.</p>
                        </div>
                    </div>
                </div>
                <div class="order-lower-right">
                    <h3 class="cart-h1 interest-text">Выберете способ оплаты:</h3>
                    <div class="order-del-list">
                        <div class="order-del-item">
                            <div><input type="radio" name="pay" value="cash" id="cash"><span>Наличными курьеру</span></div>
                        </div>
                        <div class="order-del-item">
                            <div><input type="radio" name="pay" value="card" id="card"><span>Оплата по ссылке (7,5% комиссия)</span></div>
                        </div>
                    </div>
                    <div class="order-sum">
                        <p class="order-sum-text">Товар: 2 шт.</p>
                        <p class="order-sum-text">Скидка: 0 руб.</p>
                        <p class="order-sum-text">Доставка: 500 руб.</p>

                        <p class="order-sum-sumtext">итого: 3 380 руб.</p>
                        <p class="order-sum-promotext">Промокод:</p>

                        <div class="promo-form">
                            <input class="form-input order-input promo-input" id="user-promocode" type="text" name="user-promocode">
                            <button class="promo-form-btn"><i></i></button>
                        </div>

                        
                    </div>
                </div>
            </div>
            <div class="cart-btn-div">
                <div class="order-make-order">
                    <button class="cart-btn-other">Вернуться в корзину</button>
                </div>
                <div class="order-make-order">
                    <div><button class="order-make-btn">Оформить заказ</button></div>
                    <p class="agreement-text">
                        Все Ваши данные защищены. Нажимая на кнопку, Вы соглашаетесь с <a href="#">политикой конфиденциальности.</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</main>

<%- include('include/footer.ejs') %>