<%- include('include/header.ejs') %>

<main>
    <div class="straz-container">
        <div class="straz-top">
            <div class="straz-top-left">
                <h1 class="straz-h1">Картины из эпоксидной смолы</h1>
                <p class="straz-text">
                    Картины из эпоксидной смолы заслужили свою
популярность не только из-за невероятной красоты результата,
но и из-за сложности процесса. Несмотря на то, что процесс
требует полной сосредоточенности и довольно
ресурсозатратный, инструменты из нашего набора помогут вам
упростить процесс создания этой необычной картины. Ведь не
зря говорят, что тот, кто много трудится, получает лучший
результат.
                </p>
                <p class="straz-text2">
                    <b>В нашем магазине Вы можете приобрести картину любого формата и по самым доступным ценам!</b>
                </p>
                <div class="straz-promo">
                    <img src="images/src/wave.svg"><span>Быстрота исполнения</span>
                    <img src="images/src/wave.svg"><span>Красивая упаковка</span><br>
                    <span>Отличное соотношение цена\качетво</span><img src="images/src/wave.svg">
                </div>
            </div>
            <div class="straz-top-right">
                <img src="images/src/menu/menu9.png">
            </div>
        </div>

        <div class="page-shopcontainer add-page-shopcontainer">
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-relax.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Релаксация»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop2">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-emo.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Эмоции»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop5">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-happ.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «Счастье»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop3">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-port.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «ПОРТРЕТЫ»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
            <div class="page-shopitem">
                <div class="page-shopimg">
                    <div class="fast-view"><a href="#art-pop4">Быстрый просмотр</a></div>
                    <a href="#"><img src="images/src/products/set-lost.png"></a>
                </div>
                <p class="page-shoptitle"><a href="#">Сет «ПОТЕРИ»</a></p>
                <div class="page-shoptext">
                    <p class="page-shopprice">1 990 руб.</p>
                    <button class="page-shopbtn">В КОРЗИНУ</button>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('include/footer.ejs') %>