<%- include('include/header.ejs') %>

<main>
    <div class="straz-container">
        <div class="straz-content">
            <div class="straz-item">
                <div class="straz-left">
                    <img class="straz-pic" src="images/src/site-images/straz-pic2.png">
                    <h1 class="straz-h1">Картины по стразам</h1>
                    <p class="straz-text">Трудно поверить, но техника создания картин по стразам появилась еще в Древней Греции до нашей эры! Все началось с украшения одежды. Драгоценными камнями и жемчугом девушки выкладывали узоры на рукавах и воротниках, закрепляя их самодельным клеем или воском. Однако тогда это считалось роскошью.</p>
                    <p class="straz-text straz-text2">Сегодня же заняться алмазной вышивкой может абсолютно каждый!</p>
                    <p class="straz-text-bold">В нашем магазине Вы можете приобрести картину любого формата и по самым доступным ценам!</p>
                    <!-- <div class="straz-promoblock">
                        <img src="images/src/wave.svg"><span>Быстрота исполнения</span>
                        <img src="images/src/wave.svg"><span>Красивая упаковка</span><br>
                        <span>Отличное соотношение цена\качетво</span><img src="images/src/wave.svg">
                    </div> -->
                </div>
            </div>
            <div class="straz-item">
                <div class="straz-slideblock">
                    <img src="images/src/site-images/straz-pic.png">
                </div>
            </div>
        </div>
    </div>

    <div class="straz-content">
        <img class="straz-bgcontent" src="images/src/site-images/straz-bg.png">
    </div>
</main>

<%- include('include/footer.ejs') %>