<%- include('include/header.ejs') %>

<main>
    <div class="straz-container">
        <div class="straz-top">
            <div class="straz-top-left">
                <h1 class="straz-h1">Картины по стразам</h1>
                <p class="straz-text">
                    Картины со стразами ошибочно принимают за алмазную выкладку, потому что принцип их создания несколько схож. Но мы со всей решительностью заявляем: иногда это даже красивее! Если солнышко попадет на такую картину, то ваша на вашей стене поселится миллион солнечных зайчиков. Яркие стеклышки абсолютно безопасны для нежной кожи рук, а процесс творчества – воистину увлекательный и исцеляющий. Попробуйте себя в роли ювелира: разложите инструменты, прицельтесь и начните оценивать то, какой невероятно красивой выйдет ваше творение, а затем – обязательно поделитесь с нами результатами ваших трудов!
                </p>
                <br>
                <p class="straz-text">
                    Мы
гарантируем лучшее качество материалов и сервиса! Осталось
только загрузить изображение!
                </p>
                <p class="straz-text2">
                    В нашем магазине Вы можете приобрести картину любого формата и по самым доступным ценам!
                </p>
                <div class="straz-promo">
                    <img src="images/src/wave.svg"><span>Быстрота исполнения</span>
                    <img src="images/src/wave.svg"><span>Красивая упаковка</span><br>
                    <span>Отличное соотношение цена\качетво</span><img src="images/src/wave.svg">
                </div>
            </div>
            <div class="straz-top-right">
                <img src="images/src/site-images/straz-pic.png">
            </div>
        </div>

        <form class="calc" method="post" action="#">
            <div class="straz-lower">
            <div class="order-upload straz-upload">
                    <input id="default-btn" type="file" id="file" name="image" accept="image/*" hidden>
                    <div class="order-upload-box straz-upload-box">
                        <img src="images/src/upload-pic.png">
                        <p>перетащите картинку сюда или</p>
                        <a onclick="defaultBtnActive()" class="upload-btn">загрузите файл</a>
                    </div>
                    <p class="order-upload-text straz-upload-text">
                        <b>Требования к фото:</b>
                        Расширение файла: bmp, gif, jpeg, jpg, pdf, png, tif, tiff
                        <br>Размер: от 100 кб до 30 мб
                        <br>Минимальная ширина и высота: 1000px
                    </p>
                </div>

                <script>
                    const defaultBtn = document.querySelector("#default-btn");
                    const uploadBtn = document.querySelector("#upload-btn");

                    function defaultBtnActive() {
                        defaultBtn.click();
                    }
                </script>
                <div class="straz-lower-right">
                    <p>
                        Вы загружаете нам любое изображение, включая фотографию.<br><br>
                        Наши дизайнеры изготавливают бесплатный эскиз Вашей картины и согласовывают его с Вами.<br><br>
                        Отправляем Вам (доставка по всей России).<br><br>
                        Рисуете индивидуальную картину по Вашей фотографии или любому изображению!
                    </p>
                    <p class="straz-ul-head">
                        В изготавливаемый набор входит:
                    </p>
                    <ul class="straz-list">
                        <li>3 шт. пластмассовых лотков для камней</li>
                        <li>Пластмассовый стилус для камней</li>
                        <li>Сухой клей для стилуса</li>
                        <li>Металлический пинцет</li>
                    </ul>
                </div>
            </div>

        <h3 class="straz-h3">Калькулятор стоимости картины:</h3>

        <div class="calc-container">
            <div class="сalc-block">
            <div class="calc-top">
                <div class="calc-top-item with-border">
                    <p class="calc-top-h">Ориентация и размеры:</p>
                    <div class="calc-top-btns">
                        <input type="radio" name="ver-hor" value="vertical" id="ver" hidden>
                        <input type="radio" name="ver-hor" value="horizontal" id="hor" hidden>
                        <a onclick="calcBtnActive1()" class="calc-btn">Вертикальная</a>
                        <a onclick="calcBtnActive2()" class="calc-btn">Горизонтальная</a>
                    </div>
                    <select name="size" id="sel-size">
                        <option>30x30 см</option>
                        <option>30х40 см</option>
                        <option>40х50 см</option>
                        <option>40х60 см</option>
                        <option>50х50 см</option>
                        <option>50x60 см</option>
                        <option>50x70 см</option>
                    </select>
                </div>
                <div class="calc-top-item">
                <fieldset class="index-filedset">
                    <legend>Упаковка:</legend>
                    <input type="radio" name="box" value="classic-box" id="classic"><span>Классическая</span>
                    <br>
                    <input type="radio" name="box" value="present-box" id="present"><span>В подарок</span>
                </fieldset>
            </div>
            </div>
            
            </div>

            <div class="calc-block-mob">
                <div class="calc-mob-item mob-with-border">
                    <p class="calc-mob-text-h">Ориентация и размеры:</p>
                    <div class="calc-mob-btns">
                        <a onclick="calcBtnActive1()" class="calc-btn">Вертикальная</a>
                        <a onclick="calcBtnActive2()" class="calc-btn">Горизонтальная</a>
                        <script>
                            var BtnActive = document.getElementsByClassName("calc-btn");
                            var BtnRadioVer = document.getElementById("ver");
                            var BtnRadioHor = document.getElementById("hor");

                            BtnActive[0].className = "calc-btn calc-btn-active";
                            BtnActive[1].className = "calc-btn";
                            BtnActive[2].className = "calc-btn calc-btn-active";
                            BtnActive[3].className = "calc-btn";
                            BtnRadioVer.click();

                            function calcBtnActive1() {
                                BtnActive[0].className = "calc-btn calc-btn-active";
                                BtnActive[1].className = "calc-btn";
                                BtnActive[2].className = "calc-btn calc-btn-active";
                                BtnActive[3].className = "calc-btn";

                                BtnRadioVer.click();
                            }
                            function calcBtnActive2() {
                                BtnActive[0].className = "calc-btn";
                                BtnActive[1].className = "calc-btn calc-btn-active";
                                BtnActive[2].className = "calc-btn";
                                BtnActive[3].className = "calc-btn calc-btn-active";

                                BtnRadioHor.click();
                            }
                        </script>
                    </div>
                    <select class="mob-main-sel" name="size" id="sel-size">
                        <option>30x30 см</option>
                        <option>30х40 см</option>
                        <option>40х50 см</option>
                        <option>40х60 см</option>
                        <option>50х50 см</option>
                        <option>50x60 см</option>
                        <option>50x70 см</option>
                    </select>
                </div>
                <div class="calc-mob-item">
                    <p class="calc-mob-text-h">Упаковка:</p>
                    <select class="mob-main-sel mob-little-sel" name="box" id="sel-box">
                        <option>Классическая</option>
                        <option>В подарок</option>
                    </select>
                </div>
            </div>
        </div>

        <p class="order-lower-price-t">Итог: <span><b>1990 р.</b></span></p>

        <div class="order-lower">
            <div class="order-lower-price">
                <p class="order-lower-p1">Итог:</p>
                <p class="order-lower-p2">1990 р.</p>
            </div>

            <button class="order-lower-btn">Добавить еще</button>
            <button type="submit" class="order-lower-btn">заказать картину</button>
        </div>

        </form>

        <h3 class="straz-h3">Примеры наших работ:</h3>
        <div class="straz-works">

        </div>
    </div>
</main>

<%- include('include/footer.ejs') %>