<%- include('include/header.ejs') %>

<main class="product-item-main">
    <div class="product-header">
        <h1 class="product-h1">«под зонтом»</h1><br>
        <h2 class="product-h2">Картина по номерам, 40x50 см</h2>
    </div>
    <div class="cart-line2 product-line"></div>
    <div class="product-main-block">
        <div class="product-img-block">
            <img class="product-img-mainimg" src="images/src/products/main/img1.png">
            <div class="product-img-bottom">
                <div><img src="images/src/products/main/img1.png"></div>
                <div><img src="images/src/products/main/img1.png"></div>
                <div><img src="images/src/products/main/img1.png"></div>
            </div>
        </div>
        <div class="product-text-block">
            <p class="product-headtext">«под зонтом»</p>
            <p class="pop-main-text product-main-desc">
                Иногда негативные эмоции требуют срочного выхода, а иногда эмоции настолько сокрушающие по своей светлой силе, что душе неумолимо требуется творческая разрядка. Сет «Эмоции» подойдет и для вас в моменты минутных слабостей, и для ваших детей: в композициях есть как крупные детали, так и мелкие узоры, которые помогут развивать мелкую моторику рук. 
            </p>
            <div class="pop-desc-text">
                <div class="pop-desc-text-line product-desc-text-line">
                    <p><b>Формат:</b></p>
                    <p>А4</p>
                </div>
                <div class="pop-desc-text-line product-desc-text-line">
                    <p><b>Кол-во страниц:</b></p>
                    <p>20</p>
                </div>
                <div class="pop-desc-text-line product-desc-text-line">
                    <p><b>Возрастная категория:</b></p>
                    <p>14+</p>
                </div>
                <div class="pop-desc-text-line product-desc-text-line">
                    <p><b>Плотность бумаги:</b></p>
                    <p>160 гр./м.кв</p>
                </div>
            </div>
            <p class="product-pricetext">1 990 рублей.</p>

            <div class="product-main-btns">
                <button type="button">В КОРЗИНУ</button>
                <button type="button">К КАТАЛОГУ</button>
            </div>
        </div>
    </div>
</main>

<%- include('include/footer.ejs') %>