<%- include('include/header.ejs') %>

<main class="service">
    <img class="service-img" src="/images/src/site-images/service-bg.png">
    <div class="service-container">
        
        <h1 class="service-h1"><b>Сервис</b></h1>
        <div class="service-blocks">
            <div class="service-item">
                <img src="images/src/service/service1.svg">
                <p>Замена красок, засохших естественным путем</p>
            </div>
            <div class="service-item">
                <img src="images/src/service/service2.svg">
                <p>Услуги срочного изготовления</p>
            </div>
            <div class="service-item">
                <img src="images/src/service/service3.svg">
                <p>Подарочный сертификат</p>
            </div>

            <div class="service-item">
                <img src="images/src/service/service1.svg">
                <p>Замена красок, засохших естественным путем</p>
            </div>
            <div class="service-item">
                <img src="images/src/service/service2.svg">
                <p>Услуги срочного изготовления</p>
            </div>
            <div class="service-item">
                <img src="images/src/service/service3.svg">
                <p>Подарочный сертификат</p>
            </div>
        </div>

        <div class="service-bottom">
            <p>Одно из преимуществ нашей компании - это уникальный сервис. Мы заботимся о наших клиентах, ценим время и качество.</p>
            <img src="images/src/service-vector.png">
        </div>
    </div>
</main>

<%- include('include/footer.ejs') %>