<%- include('include/header.ejs') %>

<main>
    <div class="sitemap-container">
        <h1 class="cart-h1">Карта сайта</h1>
        <div class="map-main">
            <ul class="map-list">
                <li class="main-li"><a href="/">Главная</a></li>
                <br>
                <li class="main-li">Страницы товаров:</li>
                    <ul class="sub-ul">
                        <li><a href="art-therapy.html">Арт-терапия</a></li>
                        <li><a href="pic-num-photo.html">Картины по фото</a></li>
                        <li><a href="pic-straz.html">Картины стразами</a></li>
                        <li><a href="pic-pazl.html">Пазлы по фото</a></li>
                        <li><a href="pic-derevo.html">Картины по дереву</a></li>
                        <li><a href="pic-epoxid.html">Картины из эпоксидной смолы</a></li>
                        <li><a href="mandaly.html">Мандалы</a></li>
                        <li><a href="vishivka.html">Вышивка</a></li>
                        <li><a href="al-moz.html">Алмазная мозайка</a></li>
                    </ul>
                <br>
                <li class="main-li"><a href="add-products.html">Доп товары</a></li>
                <li class="main-li"><a href="gallery.html">Галерея готовых работ</a></li>
                <li class="main-li"><a href="commments.html">Отзывы</a></li>
                <li class="main-li"><a href="contacts.html">Контакты</a></li>
                <br>
                <li class="main-li"><a href="service.html">Сервис</a></li>
                <li class="main-li"><a href="masters.html">Мастер-классы</a></li>
                <li class="main-li"><a href="discounts.html">Акции</a></li>
                <li class="main-li"><a href="benefits.html">Наши преимущества</a></li>
                <li class="main-li"><a href="loyalty.html">Программа лояльности</a></li>
                <li class="main-li"><a href="pay-del.html">Доставка и оплата</a></li>
            </ul>
        </div>
    </div>
</main>

<%- include('include/footer.ejs') %>