.cart-container {
    max-width: 1312px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
}

.cart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 87px;
}

.cart-h1 {
    all: unset;

    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #303030;
}

.cart-h2 {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: rgba(200, 194, 194, 0.62);
}

.cart-top2 {
    display: flex;
}

.round {
    width: 70px;
    height: 70px;
    border: 2px solid #F95050;
    border-radius: 50%;
    line-height: 1.7em;
    text-align: center;
    background: #F95050;

    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #000000;
}

.round-dis {
    color: #444242;
    background: #AA8888;
    border: 2px solid #AA8888;
}

.cart-line {
    width: 89%;
}

.cart-lables {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 53% 20% 20% 7%;

    margin-top: 26px;
    margin-bottom: 9px;
}

.cart-lable {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.05em;

    color: #474646;
}

.cart-list {
    display: flex;
    flex-flow: column;
}

.cart-line2 {
    border-bottom-color: rgb(186, 178, 178);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
}

.cart-line-bottom {
    margin-bottom: 30px;
}

.cart-list-item {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 48% 18% 19% 15%;
    margin: 11px 0;
}

.cart-list-main {
    display: flex;
    flex-flow: row nowrap;
}

.cart-list-img {
    margin-right: 52px;

    max-width: 296px;
    width: 100%;
}

.cart-list-img img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.cart-list-desc {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.line-disc-list {
    display: flex;
    flex-flow: column;

    width: 100%;
    max-width: 204px;
}

.line-desc {
    display: flex;
    align-items: flex-end;
    max-width: 203px;
    margin-bottom: 16px;
}

.line-desc-under {
    border-bottom-color: rgb(186, 178, 178);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
}

.cart-list-text-small {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;

    color: #000000;

    margin-top: 24px;
    margin-bottom: 11px;
}

.cart-list-text-big {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;

    margin-bottom: 44px;
}

.line-desc-text {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.05em;

    color: #3F3D3D;

    white-space: nowrap;
}

.cart-price {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.cart-price p {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: 0.05em;

    color: #000000;
    text-align: center;
}

.cart-btn {
    all: unset;

    border: 1px solid #797979;
    box-sizing: border-box;
    border-radius: 20px;

    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #4E4D4D;

    padding: 1px 10px;
    margin: 2px;
}

.cart-btn:hover {
    border: 1px solid #797979;
    box-sizing: border-box;
    border-radius: 20px;
}

.cart-price input {
    appearance: none;
    all: unset;
    border: 1px solid #797979;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    
    max-width: 30.86px;
    height: 22.45px;

    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.05em;
}

.line-diff {
    display: contents;
}

.line-diff img {
    margin-right: -10px;
}

.trash-btn {
    background: transparent;
}
.trash-btn:hover {
    background: transparent;
}

.trash-btn i {
    background-image: url(../images/src/cart/trash.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 2px 5px;
    border: none;
    cursor: pointer;
    padding: 17px;
    vertical-align: middle;
}

.price-sum {
    text-align: right;

    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: 0.05em;

    color: #000000;
}

.cart-buttons {
    display: flex;
    justify-content: space-evenly;

    margin: 53px 0;
}

.cart-btn-other {
    background: white;
    border: 2px solid #F95050;
    box-sizing: border-box;
    padding: 12px 42px;
    font-size: 18px;
    color: black;
}

.cart-btn-other:hover {
    border: 2px solid #D24343;
}

.cart-btn-make {
    font-size: 18px;
    padding: 12px 27px;
}

.interest-text {
    text-transform: unset;
}

.interesting {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,280px));
    grid-template-rows: 1fr;
    column-gap: 75px;
}

.slider {
    position: relative;
    overflow: hidden;

    margin-top: 3px;
    margin-bottom: 25px;
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 20%;
    max-width: 270px;

    margin-right: 25px;
    margin-left: 25px;
  }

  .slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

@media only screen and (max-width : 1099px) {
    .cart-list-img {
        margin-right: 16px;
    }

    .cart-list-text-small {
        margin-top: 11px;
    }

    .cart-line {
        width: 86%;
    }
}

@media only screen and (max-width : 930px) {
    .cart-line {
        width: 83%;
    }

    .cart-price p {
        font-size: 15px;
    }

    .trash-btn {
        width: 25%;
    }

    .cart-h1 {
        font-size: 2.5vw;
    }

    .cart-h2 {
        font-size: 2.5vw;
    }

    .line-diff img {
        margin-right: -6px;
        width: 13%;
    }
}

@media only screen and (max-width : 787px) {
    .cart-list-text-small {
        margin-top: 5px;
        font-size: 1vw;
    }

    .line-diff img {
        margin-right: -7px;
        width: 15%;
    }

    .cart-list-text-big {
        margin-bottom: 28px;
        font-size: 1.7vw;
    }

    .line-desc-text {
        line-height: 9px;
        font-size: 1.2vw;
    }

    .cart-price p {
        font-size: 1.4vw;
    }

    .trash-btn {
        width: unset;
    }

    .cart-line {
        width: 80%;
    }

    .round {
        font-size: 4.5vw;
    }

    .cart-list-item {
        grid-template-columns: 48% 22% 13% 18%;
    }

    .price-sum {
        font-size: 3vw;
        line-height: 4vw;
    }

    .cart-btn-make {
        font-size: 2vw;
        padding: 2vw 5vw;
    }

    .cart-btn-other {
        padding: 2vw 5vw;
        font-size: 2vw;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .cart-top {
        margin-top: 0px;
    }

    .round {
        height: 30px;
    }

    .cart-lables {
        grid-template-columns: 51% 21% 14% 12%;
        margin-top: 12px;
    }

    .cart-list-item {
        grid-template-columns: 1fr;
        align-items: center;
        grid-row-gap: 6px;
    }

    .cart-lable {
        font-size: 5px;
        line-height: 8px;
    }

    .cart-list-img {
        margin-right: 7px;
        width: 65%;
    }

    .cart-list-text-small {
        font-size: 2.0vw;
        line-height: 5px;
        margin-top: 0;
        margin-bottom: 4px;
    }

    .cart-list-text-big {
        margin-bottom: 4px;
        font-size: 2.3vw;
        line-height: 11px;
    }

    .line-desc {
        margin-bottom: 3px;
    }

    .line-desc-text {
        font-size: 1.8vw;
    }

    .cart-btn {
        font-size: 8px;
        line-height: 10px;
        padding: 0px 4px;
        margin: 2px;
    }

    .cart-price input {
        max-width: 33.86px;
        height: 15.45px;
    }

    .cart-price p {
        font-size: 4.4vw;
    }

    .trash-btn {
        width: 18px;
        padding: unset;
    }

    .trash-btn i {
        background-position: 6px 13px;
        background-size: 18px;
    }

    .cart-btn-other, .cart-btn-make {
        padding: 1.1vw 6vw;
        font-size: 1.5vw;
    }

    .cart-buttons {
        margin: 15px 0;
    }

    .line-diff img {
        margin-right: -6px;
        width: 12%;
    }

    .line-disc-list {
        max-width: 115px;
    }

    .cart-list-desc {
        width: 50%;
    }

    .slider__item {
        flex: 0 0 40%;
        max-width: unset;
        width: unset;
        margin-right: unset;
        margin-left: unset;
    }

    .product-item {
        padding: 6px 10px;
    }

    .product-shopimg {
        max-height: unset;
        height: 143px;
    }

    .product-shopimg img {
        max-width: 110px;
        width: 100%;
    }

    .product-desctext {
        font-size: 6px;
        line-height: 8px;
    }

    .product-shoptitle {
        line-height: 12px;
    }

    .product-shoptitle a {
        font-size: 11px;
        line-height: 14px;
    }

    .page-shoptext {
        flex-flow: column;
        align-items: unset;
    }

    .product-shopprice {
        font-size: 11px;
        line-height: 23px;
    }

    .product-shopbtn {
        font-size: 7px;
        line-height: 10px;
        padding: 1px 17px;
        max-width: unset;
        height: 19px;
    }

    .price img {
        max-width: 67%;
    }

    .price p {
        top: 4%;
        left: 8%;
        font-size: 10px;
    }

    .fast-view2 a {
        font-size: 8px;
    }

    .fast-view2 {
        top: 23%;
    }
}

@media only screen and (max-width : 425px) {
    .round {
        height: 37px;
    }
}

@media only screen and (max-width : 375px) {
    .round {
        height: 33px;
    }
}

@media only screen and (max-width : 320px) {
    .round {
        height: 30px;
    }
}