.com-top {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;

    margin-top: 40px;
    margin-left: 50px;
    margin-right: 10px;
}

.com-h2 {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    letter-spacing: 0.05em;

    color: #000000;
}

.com-h3 {
    all: unset;

    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: 0.1em;

    color: #4A342C;
}

.com-text {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;

    color: #3D3D3D;

    margin: 29px 0;
}
.lower {
    font-size: 14px;
    line-height: 17px;

    color: #585858;
}

.com-top-left {
    max-width: 348px;
    margin-right: 37px;
    margin-bottom: 60px;
}

.com-rating {
    display: flex;
    align-items: center;

    padding-bottom: 60px;
}

.com-rating-text {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 122px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #1B1B1B;

    margin-right: 30px;
}

.com-line {
    width: 100%;
    border: 0.5px solid rgba(156, 156, 156, 0.7);
}

.comments {
    
}

.comments-item {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;

    margin: 55.5px 0;
    padding: 0 45px;
}

.comments-item-block {
    display: flex;
}

.second-block {
    flex-flow: row wrap;
}

.comments-item-left {
    // display: flex;
    // justify-content: flex-start;
    // flex-flow: column nowrap;

    max-width: 350px;
    width: 100%;
}

.com-date {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;

    color: #929292;
}

.comments-text {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;

    color: #000000;

    max-width: 528px;
    width: 100%;

    padding-right: 17px;
}

.com-likes {
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    padding-left: 25px;
}

.com-like {
    display: flex;
    align-items: center;
}

.like {
    margin-right: 39px;
}

.com-likes img {
    margin-right: 12px;
}

.com-likes p {
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.like-num {
    padding-right: 40px;
}

.com-usr-pic {
    width: 100%;
    min-width: 100px;
}

.com-img {
    // max-width: 200px;
    // max-height: 200px;
    // min-height: 120px;
    width: 100%;
    padding-right: 17px;
}

.com-lower {
    width: 100%;
    min-height: 30px;
    margin-top: 50px;
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .com-top-left {
        margin-bottom: 30px;
    }

    .com-h2 {
        font-size: 18px;
    }

    .lower {
        font-size: 10px;
        line-height: 17px;
    }

    .com-text {
        font-size: 15px;
        line-height: 22px;
    }

    .com-rating {
        padding-bottom: 45px;
    }

    .com-rating-text {
        font-size: 50px;
        line-height: 72px;
        margin-right: 24px;
    }

    .com-h3 {
        font-size: 15px;
    }

    .com-date {
        font-size: 10px;
    }

    .comments-text {
        font-size: 14px;
        margin: 16px 0px;
    }

    .com-top {
        margin-top: 2px;
        margin-left: 10px;
    }

    .com-usr-pic {
        height: unset;
        width: 100%;
        margin-left: unset;
    }

    .com-likes {
        padding-left: unset;
    }

    .com-img {
        max-width: 120px;
        width: 100%;
        padding-right: unset;
    }

    .comments-item {
        flex-flow: row wrap;
        margin: 35.5px 12px;
    }

    .comments-item-left {
        padding-right: 15px;
    }

    .comments-item-block {
        justify-content: center;
    }
}