.contacts-main {
    width: 100%;
}

.content-container {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    padding: 0 20px;
}

.contacts-h1 {
    all: unset; 

    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #303030;
}

.contacts-h2 {
    all: unset; 

    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;

    letter-spacing: 0.1em;

    color: #000000;
}

.contacts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 420px));
    grid-auto-flow: dense;
    column-gap: 45px;
    row-gap: 60px;
    justify-content: start;

    margin: 3% 0;
}

.contacts-maintext {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;

    color: #303030;
    padding-bottom: 35px;
}

.contacts-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.contacts-head {
    display: flex;
    align-items: center;
}

.contacts-ico {
    padding-right: 10px;
}

.contacts-ul {
    list-style: none;
    line-height: 40px;
}

.contacts-ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacts-ul li img {
    padding-left: 12px;
    width: 35px;
    height: 35px;
}

.contacts-ul a {
    all: unset;
}

.contacts-ul a:hover {
    cursor: pointer;
}

.form-p {
    padding-bottom: 15px;
}

textarea {
    outline: 0;
    width: 100%;
    min-height: 150px;
    max-width: 360px;
    border: 1px solid #979494;
    box-sizing: border-box;
    border-radius: 10px;
}

.send-btn {
    padding: 10.5px 40px;
}

.consent-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 15px;
}

.consent-text {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;

    color: #000000;
}
.consent-text a {
    all: unset;
    text-decoration-line: underline;
    color: #F28484;
}
.consent-text a:hover {
    cursor: pointer;
}

.form-input{
    width: 100%;
    max-width: 360px;
    height: 40px;
    border: 1px solid #979494;
    box-sizing: border-box;
    border-radius: 10px;
}

.feedback p {
    padding-bottom: 17px;
}

.form-lable {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.1em;

    color: #7D7B7B;
}

.form-lable span {
    color: #EE6565;
}

.feedback-check {
    width: 30px;
    height: 30px;

    border: 1px solid #F28484;
    box-sizing: border-box;
    border-radius: 10px;

    margin-right: 10px;
}

.contacts-container2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.contacts-item-left {
    margin-right: 20px;
    margin-bottom: 20px;
}

.contacts-item-right {
    max-width: 695px;
    width: 100%;
}

@media only screen and (max-width : 890px) {
    .contacts-container {
        grid-template-columns: repeat(auto-fit,minmax(50px,320px));
        justify-content: center;
    }

    .contacts-container2 {
        flex-flow: row wrap;
        justify-content: center;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .content-container {
        max-width: 306px;
        padding: 0 0;
    }

    .contacts-ico {
        width: 26px;
    }
    
    .line {
        width: 160px;
    }

    .contacts-h1 {
        font-size: 14px;
    }

    .contacts-h2 {
        font-size: 12px;
    }

    .contacts-maintext {
        font-size: 11px;
        padding-bottom: 6px;
        
        line-height: 22px;
    }

    .page-shopbtn {
        font-size: 9px;
        padding: 7.5px 12px;
    }

    .contacts-ul li {
        font-size: 11px;
    }

    .contacts-ul li img {
        width: 24px;
    }

    .contacts-container {
        grid-template-columns: repeat(auto-fit,minmax(10px,201px));
        column-gap: 26px;
        row-gap: 39px;
    }
}