h3 {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.1em;

    color: #303030;
}

.section-catalog {
    width: 100%;
}

.sec-container {
    margin-left: auto;
    margin-right: auto;

    max-width: 1198px;
}

.block-nav-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 3fr));
    grid-auto-flow: dense;
    column-gap: 22px;
    row-gap: 21px;
    list-style: none;
}
.block-nav-item {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 328px;
}
.block-nav-item-big1 {
    position: relative;
    grid-column: span 2;
}
.block-nav-a-big {
    position: absolute;
	top: 50px;
	left: 45px;
    width: 100%;
    
    font-family: "Days";
    font-weight: normal;
    color: #303030;
    font-size: 36px;
    text-decoration: none;
}
.block-nav-item-big2 {
    position: relative;
    grid-column: span 3;
}

.block-nav-item-big3 {
    position: relative;
    grid-column: span 2;
}

.block-nav-img-a {
    all: unset;
    cursor: pointer;
}
.block-nav-a {
    position: absolute;
	top: 45px;
	left: 45px;
    width: 100%;
    
    font-family: "Days";
    font-weight: normal;
    color: #303030;
    font-size: 36px;
    text-decoration: none;
}
.block-nav-item a:hover {
    text-decoration: underline;
}
.block-nav-item img, .block-nav-item-big1 img, .block-nav-item-big2 img{
    width: 100%;
    height: 100%;
    //object-fit: cover;
}

.block-nav-desctext {
    position: absolute;
    top: 36%;
    left: 10%;

    font-family: 'Museo Sans Cyrl-700';
    font-style: normal;
    font-size: 18px;
    line-height: 138%;

    letter-spacing: 0.05em;

    color: #303030;
}

.block-nav-descpoint {
    position: absolute;
    top: 47%;
    left: 10%;

    font-family: 'Museo Sans Cyrl-700';
    font-style: normal;
    font-size: 18px;
    line-height: 138%;

    letter-spacing: 0.05em;

    color: #303030;
}

.block-nav-descpoint li::before {
    content: "\2022";
    color: #F28484;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.bg-image {
    display: flex;
    align-content: stretch;
    position: absolute;
    width: 100%;
    height: 378px;
    z-index: -1;

    background: url(../images/src/section-catalog-img.png) no-repeat 0 0;
}

.section-slide {
    width: 100%;
    min-height: 620px;
    position: relative;

    margin-bottom: 80px;
}

.index-headertext {
    position: absolute;
    top: 15%;
    left: 8%;

    z-index: 1;
}

.index-headertext p {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;

    color: #303030;
    
    margin-top: 20px;
}

.index-headertext p b {
    color: #F95050;
}

.index-headertext p span {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 70px;
    letter-spacing: 0.05em;

    color: #303030;
}

.index-slideblock {
    position: absolute;

    top: 0%;
    right: 0%;

    min-width: 710px;
    min-height: 624px;

    background-color: #826B62;

    display: flex;
    align-items: flex-end;
}

.slider-container {
    max-width: 587px;
    width: 100%;

    margin-bottom: -8px;
}

.slider-btns {
    position: absolute;
    bottom: 0;
    left: 0%;

    display: flex;
    width: 100%;
}

.slider-prev, .slider-next {
    background-color: #F7F0E8;
    cursor: pointer;
    max-width: 100px;
    width: 100%;
    height: 82px;
}

.slider-prev:hover, .slider-next:hover {
    background-color: #E7DFD6;
}

.slider-prev i {
    background-image: url('../images/src/slider/prev.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 40px 25px;
    border: none;
    vertical-align: middle;
    padding-left: 100px;
    padding-bottom: 58px;
}

.slider-next i {
    background-image: url('../images/src/slider/next.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 40px 25px;
    border: none;
    vertical-align: middle;
    padding-left: 100px;
    padding-bottom: 58px;
}

.slider-dots {
    //display: inline;
    position: absolute;
    bottom: 3%;
    right: 22%;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: rgba(242, 132, 132, 0.5);

    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;

    transition: background-color 0.4s ease;
}

.dot-active, .dot:hover {
    background-color: #F95050;
}

.fade {
    //-webkit-animation-name: fade;
    //-webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from{opacity: 0.4;}
    to{opacity: 1;}
}

.index-promoblock {
    position: absolute;
    top: 60%;
    left: 11%;

    min-width: 690px;
    min-height: 105px;

    padding: 30px 0 30px 70px;

    background-color: #826B62;

    z-index: 1;
}

.index-promoblock span {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;

    padding-right: 10px;
    padding-left: 10px;
}

.wave2 {
    position: absolute;

    top: 4%;
    left: 0%;
    
    z-index: -1;
}

.section-text {
    font-family: "Museo Sans Cyrl-500";
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.205em;
    color: white;
    text-transform: uppercase;

    text-align: center;
    padding-top: 3%;
    margin-bottom: 5%;
}
.section-text span{
    font-family: "Days";
    font-size: 48px;
    line-height: 61px;
    letter-spacing: 0.1em;
    color: white;
}

.btn-make-order {
    display: inline-block;
    font-family: "Days";
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    padding: 30px 60px;
    background-color: #F95050;

    text-decoration: none;
    color: white;
}
.btn-make-order:hover {
    color: #E5E5E5;
    background-color: #D24343;
    cursor: pointer;
}
.btn-make-order-div {
    display: flex;
    justify-content: center;

    margin-top: 5%;
}

.section-promo {
    width: 100%;
    min-height: 620px;
    position: relative;

    margin-top: 90px;
    margin-bottom: 80px;
}

.promo-block {
    position: absolute;

    z-index: -1;

    top: 0%;
    left: 0%;

    min-height: 624px;
    width: 100%;
}

.promo-image {
    width: auto;
    height: 474px;
    
    position: absolute;

    top: 12%;
    left: 18%;
}
.promo-image2 {
    width: 100%;
    height: 624px;
    
    position: absolute;

    top: 0%;
    left: 0%;

    z-index: -1;
}

.promo-text {
    position: absolute;
    right: 11%;
    top: -1%;
}

.promo-headtext {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.1em;

    color: #303030;
}
.promo-foottext {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;

    margin-top: 150px;

    color: #FFFFFF;
}

.bg-promoimage {
    display: flex;
    align-content: stretch;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.main-nav-item:hover ul{
    display: block;
}

.main-nav-item ul {
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: #f7f0e8;
    z-index: 2;
}

.main-nav-item ul li {
    padding-bottom: 4px;
    border: 0.4px solid black;
}

.section-order {
    width: 100%;
    //max-width: 1420px;
    
    margin-top: 90px;
    margin-bottom: 80px;
    
    //margin-left: auto;
    //margin-right: auto;
}

.bottom {
    top: 73%;
}

.section-order {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.order-wave {
    display: flex;
}

.order-wave img {
    padding-right: 67px;
}

.order-ul {
    list-style: none;

    font-family: 'Museo Sans Cyrl-700';
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;

    color: #303030;

    max-width: 545px;
    margin-top: auto;
    margin-bottom: auto;
}

.order-ul-li {
    padding-bottom: 25px;
}

.order-ul-li-main {
    padding-bottom: 1px;
}

.order-ul-li::before {
    content: "\2022";
    color: #F28484;
    width: 1em;
    margin-left: -1em;
    display: inline-block;
}

.order-sub-ul {
    list-style: none;

    font-family: 'Museo Sans Cyrl-700';
    font-style: normal;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.05em;

    color: #303030;

    max-width: 545px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-bottom: 25px;
}

.order-sub-ul li {
    padding-bottom: 3px;
}

.order-sub-ul li::before {
    content: "\2022";
    color: #F28484;
    width: 1em;
    margin-left: -1em;
    display: inline-block;
}

.order-top-subtext {
    font-family: 'Museo Sans Cyrl-700';
    font-style: normal;
    font-size: 9px;
    line-height: 15px;
    letter-spacing: 0.05em;

    color: #303030;

    margin-bottom: 15px;
}

.order-top-div {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.calc-container{
    padding: 0 50px;
}

.сalc-block {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 1001px;
}

.calc-block-mob {
    display: none;
}

.calc-top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-bottom: 65px;
}

.calc-top-item {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 38px 31px;
    max-width: 490px;
    width: 100%;
}

.with-border {
    border: 3px solid rgba(242, 132, 132, 0.2);
    box-sizing: border-box;
}

.calc-top-btns {
    display: flex;
    flex-flow: row nowrap;

    margin-bottom: 70px;
}

.calc-btn {
    background-color: white;
    border: 1px solid #F28484;
    box-sizing: border-box;

    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 138%;
    text-transform: none;

    letter-spacing: 0.05em;

    color: #303030;
}

.calc-btn:hover {
    border: 1px solid #F28484;
    box-sizing: border-box;
}

.calc-btn-active {
    border: 1px solid #F95050;
    background-color: #F95050;

    color: white;

    margin-left: -2px;
}

.calc-top-h {
    margin-bottom: 64px;
}

.calc-top-h2 {
    margin-bottom: 30px;
}

.calc-top-item p {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 138%;

    letter-spacing: 0.05em;

    color: #303030;
}

.calc-top-item select {
    border: none;
    border-bottom-color: #F28484;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 43px;
    width: 100%;

    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 138%;

    letter-spacing: 0.05em;

    color: rgba(48, 48, 48, 0.6);

    -webkit-appearance: none;
    border-radius: 0;
}

.index-filedset {
    border: none;
    margin-bottom: 45px;
    max-width: 247px;
    width: 100%;
}

.index-filedset span {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 138%;

    letter-spacing: 0.05em;

    color: rgba(48, 48, 48, 0.6);
}

.index-filedset legend {

    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 138%;

    letter-spacing: 0.05em;

    color: #303030;

    margin-bottom: 30px;
}

.index-filedset input {
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 3px solid #F28484;
    box-sizing: border-box;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
  
    position: relative;
    top: 4px;

    margin-right: 19px;
  }
  
.index-filedset input:checked {
    border: 6px solid #F28484;
}

.order-top {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.order-upload {
    display: flex;

    flex-flow: column nowrap;
    align-items: center;
    max-width: 525px;
    //justify-content: center;
}

.order-upload-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    //justify-content: center;

    background: rgba(242, 132, 132, 0.05);
    border: 3px dashed #F95050;
    box-sizing: border-box;

    padding: 66px 61px;
    margin-bottom: 40px;
    max-width: 525px;
}

.order-upload-box img {
    padding-bottom: 25px;
}

.order-upload-box p {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: rgba(242, 132, 132, 0.6);

    padding-bottom: 38px;
}

.order-upload-text {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 138%;
    max-width: 396px;

    letter-spacing: 0.05em;

    color: rgba(48, 48, 48, 0.6);
}

.oreder-slider {
    background: #826B62;
    box-shadow: 0px 0px 10px rgba(130, 107, 98, 0.2);

    width: 720px;
    height: 210px;
}

.order-lower {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 25px;
    padding-right: 25px;

    background: rgba(217, 179, 138, 0.2);
}

.order-lower-price {
    display: flex;
    align-items: baseline;
}

.order-lower-price-t {
    display: none;

    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 138%;

    letter-spacing: 0.05em;

    color: #303030;

    margin-left: 27px;
}

.order-lower-price-t span {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;

    color: #303030
}

.order-lower-p1 {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.05em;

    color: #303030;

    padding-right: 46px;
}

.order-lower-p2 {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: 0.1em;

    color: #303030
}

.order-lower-btn {
    padding: 25px 77px;
}

