h3 {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.1em;

    color: #303030;
}

.section-catalog {
    width: 100%;
}

.sec-container {
    margin-left: auto;
    margin-right: auto;

    max-width: 1198px;
}

.block-nav-container {
    display: grid;
    //grid-template-columns: repeat(3, 385px [col-nav]);
    //grid-template-rows: repeat(4, 320px [row-nav]);
    grid-template-columns: repeat(auto-fit, minmax(384px, 3fr));
    //grid-template-rows: repeat(6, 200px);
    grid-auto-flow: dense;
    column-gap: 22px;
    row-gap: 21px;
    list-style: none;
    //padding: 0 10%;
}
.block-nav-item {
    position: relative;
    width: 100%;
    height: 100%;
}
.block-nav-item-big1 {
    position: relative;
    grid-column: span 2;
    //width: 100%;
    //grid-column-start: 2;
    //grid-column-end: 4;
}
.block-nav-item-big1 a {
    position: absolute;
	top: 90px;
	left: 45px;
    width: 100%;
    
    font-family: "Days";
    font-weight: normal;
    color: #303030;
    font-size: 36px;
    text-decoration: none;
}
.block-nav-item-big2 {
    position: relative;
    grid-column: span 2;
}
.block-nav-item-big2 a {
    position: absolute;
	top: 90px;
	left: 45px;
    width: 100%;
    
    font-family: "Days";
    font-weight: normal;
    color: #303030;
    font-size: 36px;
    text-decoration: none;
}
.block-nav-item a {
    position: absolute;
	top: 45px;
	left: 45px;
    width: 100%;
    
    font-family: "Days";
    font-weight: normal;
    color: #303030;
    font-size: 36px;
    text-decoration: none;
}
.block-nav-item img, .block-nav-item-big1 img, .block-nav-item-big2 img{
    width: 100%;
    height: 100%;
    //object-fit: cover;
}

.bg-image {
    display: flex;
    align-content: stretch;
    position: absolute;
    width: 100%;
    height: 378px;
    z-index: -1;

    background: url(../images/src/section-catalog-img.png) no-repeat 0 0;
}

.section-text {
    font-family: "Museo Sans Cyrl-500";
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.205em;
    color: white;
    text-transform: uppercase;

    text-align: center;
    padding-top: 3%;
    margin-bottom: 5%;
}
.section-text span{
    font-family: "Days";
    font-size: 48px;
    line-height: 61px;
    letter-spacing: 0.1em;
    color: white;
}

.btn-make-order {
    display: inline-block;
    font-family: "Days";
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    padding: 30px 60px;
    background-color: #F95050;

    text-decoration: none;
    color: white;
}
.btn-make-order:hover {
    color: #E5E5E5;
    background-color: #D24343;
    cursor: pointer;
}
.btn-make-order-div {
    display: flex;
    justify-content: center;

    margin-top: 5%;
}

.section-promo {
    width: 100%;
}

.brown-block {
    display: flex;
    align-content: stretch;
    position: absolute;
    width: 710px;
    height: 624px;
    z-index: -1;
    background: #826B62;
}

.promo-image {
    width: 691px;
    height: 474px;
    margin-left: 90px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.bg-promoimage {
    display: flex;
    align-content: stretch;
    position: absolute;
    width: 100%;
    z-index: -2;
}