@media only screen and (max-width: 1660px) {
    .promo-text {
        right: 7%;
    }
}

@media only screen and (max-width: 1450px) {
    .promo-image {
        left: 7%;
    }
}

@media only screen and (max-width: 1300px) {
    .promo-text {
        right: 2%;
    }
}

@media only screen and (max-width : 1215px) {
    #logo {
        display: none;
    }
    .block-nav-item-big1 {
        position: relative;
        grid-column: span 2;
        grid-row: 1;
    }
    .block-nav-container {
        margin: 0 10%;
    }

    .promo-image {
        left: 1%;
    }
    .promo-text {
        right: 1%;
    }
}

@media only screen and (max-width : 1115px) {
    .phone-number-black {
        display: none;
    }
    .main-nav {
        justify-content: center;
        flex-flow: row wrap;
    }
    .main-nav li{
        padding-right: 19px;
    }
    .section-slide {
        display: none;
    }

    .section-promo {
        display: none;
    }
}

@media only screen and (max-width : 985px) {
    .block-nav-container {
        grid-template-columns: repeat(auto-fit,minmax(284px,2fr));
    }
}

@media only screen and (max-width : 930px) {
    .upper-header {
        justify-content: space-evenly;
    }
    .upper-header button{
        display: none;
    }
    .block-nav-container {
        grid-template-columns: repeat(auto-fit,minmax(240px,2fr));
    }
    .block-nav-item a {
        font-size: 25px;
    }
    .footer-nav ul {
        padding-right: 2vh;
    }
    .section-text {
        font-size: 20px;
    }
    .section-text span{
        font-size: 40px;
    }
    .bg-image {
        height: 250px;
    }
    #logo-footer {
        display: none;
    }
}

@media only screen and (max-width : 750px) {
    .block-nav-item a {
        font-size: 28px;
    }
    .block-nav-container {
        grid-template-columns: repeat(auto-fit,minmax(204px,2fr));
    }
    #logo-footer {
        display: none;
    }
    .footer-nav {
        justify-content: space-evenly;
    }
    .footer-container {
        display: block;
    }
    .footer-container2 {
        min-height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .wave2 {
        display: none;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #logo-small {
        display: block;
        width: 265px;
        padding: 0 11px;
    }
    #logo-text {
        display: none;
    }
    .nav-social {
        display: none;
    }
    .navigation {
        display: none;
    }
    .menu-btn {
        display: inherit;
        width: 60px;
        height: 25px;
    }
    .upper-header {
        justify-content: space-between;
        min-height: 31px;
        padding: 0 13px;
    }
    .block-nav-container {
        grid-template-columns: repeat(auto-fit,minmax(120px,2fr));
    }
    .block-nav-item a {
        font-size: 13px;
        top: 15px;
        left: 17px;
    }
    .section-text {
        font-size: 13px;
    }
    .section-text span{
        font-size: 18px;
        line-height: 12px;
    }
    .footer-container {
        padding: 0 8px;
        min-height: 260px;
    }
    .footer-container2 {
        min-height: 55px;
    }
    .footer-nav ul {
        padding-right: 0vh;
    }
    .footer-firstnav a{
        font-size: 12px;
    }
    .footer-secondnav a{
        font-size: 12px;
    }
    .btn-make-order {
        padding: 10px 30px;
        font-size: 12px;
    }
    .phone-number-white, .confid-text {
        font-size: 8px;
    }
    .bg-image {
        height: 130px;
    }
    #logo-footer2 {
        display: none;
    }
    #logo-footer3 {
        display: block;
        width: 400px;
    }
    .main-header a {
        color: #fff;
        font-size: 7px;
        padding-left: 0;
    }
    .menu-btn a {
        top: 35%;
        right: 10%;
        font-size: 7px;
    }
    .menu-btn img {
        z-index: -1;
        top: 22px;
        width: 60px;
    }
    .cart {
        padding-left: 10px;
    }
    .cart img {
        width: 16px;
    }
    .soc-img{
        width: 11px;
        height: 11px;
    }

    .pagebg-image {
        height: 361px;
    }
    .page-desctext {
        font-size: 20px;
        line-height: 20px;
    }
    h1 {
        font-size: 35px;
        line-height: 30px;
    }

    .head-link {
        display: none;
    }

    .block-nav-desctext {
        top: 36%;
        left: 12%;

        font-size: 8px;
    }

    .block-nav-descpoint {
        top: 47%;
        left: 13%;

        font-size: 8px;
    }

    .block-nav-item-big2 a {
        top: 53px;
    }
}