h1 {
    font-family: "Days";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #303030;
    text-align: left;
    margin-block-end: 1.2em;
}

.btnpage {
    display: flex;
    margin-top: 7%;
}

.btn-page-link {
    display: inline-block;
    font-family: Days;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 12px 50px;
    background-color: #f95050;
    text-decoration: none;
    color: #fff;
}

.btn-page-link:hover {
    color: #E5E5E5;
    background-color: #D24343;
    cursor: pointer;
}

.page-desctext {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: left;
    padding-bottom: 8%;
}

.page-headcontainer {
    width: 100%;
    position: relative;
}

.page-headertext {
    position: absolute;
    top: 26%;
    left: 6%;
}

.pagebg-image {
    width: 100%;
    height: 861px;
    z-index: -1;
}

.page-shopsec {
    margin-top: 2.5%;
    margin-bottom: 4%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.page-shopcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 420px));
    grid-auto-flow: dense;
    column-gap: 45px;
    row-gap: 30px;
    justify-content: center;
}

.page-shopitem {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.fast-view {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 97.8%;
    text-align: center;
    top: 35%;
    height: 10%;
    background: rgba(130, 107, 98, 0.79);
}
.fast-view a {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;

    width: 100%;

    letter-spacing: 0.05em;
    text-decoration-line: underline;

    color: #000000;
}


.page-shopimg:hover .fast-view{
    display: flex;
}

.page-shopimg img {
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 3%;
}

.page-shoptitle a {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-decoration: none;

    letter-spacing: 0.1em;

    color: #000000;
}
.page-shoptitle a:hover {
    text-decoration: underline;
}

.page-shoptext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;

    margin-top: 5%;
}

.page-shopprice {
    font-family: 'Museo Sans Cyrl-700';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    letter-spacing: 0.05em;

    color: #000000;
}

@media only screen and (max-width : 930px) {
    .pagebg-image {
        height: 561px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .page-shopcontainer {
        grid-template-columns: repeat(auto-fit,minmax(100px,194px));
    }
    .pagebg-image {
        height: 210px;
    }
    .page-desctext {
        font-size: 10px;
        line-height: 15px;
    }
    h1 {
        font-size: 18px;
        line-height: 30px;
        margin-block-start: 0.67em;
    }
    .btn-page-link {
        padding: 3px 20px;
        font-size: 7px;
    }
    .page-shoptitle a {
        font-size: 16px;
    }
    .page-shopprice {
        font-size: 16px;
    }
    .page-shopbtn {
        font-size: 8px;
        padding: 3.5px 12px;
    }
}

// add-products

.page-h2 {
    all: unset;

    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #303030;
}

.product-main {
    width: 100%;
}

.top-search {
    max-width: 1440px;
    max-height: 45px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0 5px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.search-field {
    width: 30vw;
    min-height: 35px;
    border: 1px solid #674D43;
    box-sizing: border-box;
    border-radius: 10px;

    padding: 10px;
}

.search-ico {
    position: absolute;
    background: url(../images/src/find.svg) no-repeat 3px 6px;
    min-width: 23px;
    min-height: 30px;
}

.search-bar-container {
    background: rgba(242, 132, 132, 0.5);

    width: 100%;
    min-height: 60px;
}

.search-bar {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;
}

.search-form {
    min-height: 60px;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.search-form input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;

    min-width: 100px;
    min-height: 30px;
}

.search-form input[type="checkbox" i] {
    background: #FFFFFF;
    border: 1px solid #808080;
    box-sizing: border-box;
    border-radius: 10px;

    min-height: 30px;
    min-width: 30px;
}

.search-form label {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: 0.05em;

    color: #000000;
}

.product-container {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;  
    margin-top: 1.2%;
    margin-bottom: 1.2%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 280px));
    grid-auto-flow: dense;
    column-gap: 75px;
    row-gap: 30px;
    justify-content: center;
}

.product-item {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;

    padding: 15px 25px;

    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
}

.price {
    position: absolute;
    top: 4%;
    left: 0%;
}

.price p {
    position: absolute;
    top: 14%;
    left: 12%;

    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.product-item:hover {
    border: 1px solid #DFB7B7;
    box-sizing: border-box;
    border-radius: 10px;
}

.product-shopimg {
    display: flex;
    justify-content: center;
}

.product-shopimg:hover .fast-view2{
    display: flex;
}

.product-shopimg img {
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 3%;
    max-width: 228px;
}

.product-desctext {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;

    color: #000000;
}

.product-shoptitle a {
    font-family: Days;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    text-decoration: none;
    letter-spacing: .1em;
    color: #000;
}
.product-shoptitle a:hover {
    text-decoration: underline;
}

.product-shop {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: 0.05em;

    color: #000000;
}

.product-shopprice {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: 0.05em;

    color: #000000;
}

.product-oldprice {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    letter-spacing: 0.05em;
    text-decoration-line: line-through;

    color: #6A6A6A;
}

.product-shopbtn {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    padding: 8px 11px;

    color: #FFFFFF;
}

.fast-view2 {
    position: absolute;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 82%;
    text-align: center;
    top: 32%;
    height: 10%;
    background: rgba(130,107,98,.79);
}
.fast-view2 a {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    width: 100%;
    letter-spacing: .05em;
    text-decoration-line: none;
    color: white;
}

@media only screen and (max-width : 930px) {
    .page-h2 {
        font-size: 17px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .page-h2 {
        font-size: 17px;
    }

    .search-bar-container {
        min-height: 40px;
    }

    .top-search {
        flex-flow: row wrap;
        justify-content: center;
        max-height: 90px;
    }

    .search-field {
        min-width: 300px;
        min-height: 30px;
        width: 100%;

        margin-top: 10px;
        margin-bottom: 10px;
    }
    .page-headertext {
        position: absolute;
        top: 10%;
        left: 4%;
    }

    .search-form {
        padding: 10px 0px;
    }

    .search-form label {
        font-size: 12px;
    }

    .search-form input {
        min-height: 26px;
        max-width: 30px;
    }

    .search-form input[type=checkbox i] {
        min-height: 22px;
        min-width: 22px;
    }
}

// pic-straz

.straz-container {
    width: 100%;
    max-width: 1440px;
    min-height: 624px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.straz-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 2fr));
    grid-auto-flow: dense;
    list-style: none;

    position: relative;
}

.straz-slideblock {
    position: relative;

    z-index: -1;

    top: 0%;
    right: 0%;

    //min-width: 710px;
    //min-height: 624px;

    background-color: #826B62;
}

.straz-promoblock {
    position: relative;
    top: 60%;
    left: 11%;

    //min-width: 690px;
    //min-height: 105px;

    padding: 30px 0 30px 70px;

    background-color: #826B62;
}

.straz-pic {
    width: 100%;
    position: relative;
    z-index: -1;
}

.straz-left {
    position: relative;
}

.straz-h1 {
    position: absolute;
    top: 0%;
}

.straz-text {
    position: absolute;
    top: 17%;

    font-family: "Museo Sans Cyrl-500";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;

    letter-spacing: 0.05em;

    color: #000000;
}
.straz-text2 {
    top: 32%;
}

.straz-text-bold {
    position: absolute;
    top: 43%;

    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.05em;

    color: #000000;
}

.straz-content {
    width: 100%;
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;
}

.straz-bgcontent {
    width: 100%;
}