h1 {
    font-family: "Days";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #303030;
    text-align: left;
    margin-block-end: 1.2em;
}

.btnpage {
    display: flex;
    margin-top: 7%;
}

.btn-page-link {
    display: inline-block;
    font-family: Days;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 12px 50px;
    background-color: #f95050;
    text-decoration: none;
    color: #fff;
}

.btn-page-link:hover {
    color: #E5E5E5;
    background-color: #D24343;
    cursor: pointer;
}

.page-desctext {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: left;
    padding-bottom: 15px;
}

.page-desctext2 {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: left;
    padding-bottom: 8%;
    max-width: 600px;
}

.page-headcontainer {
    width: 100%;
    position: relative;
}

.page-headertext {
    position: absolute;
    top: 26%;
    left: 15%;
}

.pagebg-image {
    width: 100%;
    height: 861px;
    z-index: -1;
}

.page-shopsec {
    margin-top: 2.5%;
    margin-bottom: 4%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.page-shopcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 420px));
    grid-auto-flow: dense;
    column-gap: 45px;
    row-gap: 30px;
    justify-content: center;
}

.page-shopitem {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.fast-view {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 97.8%;
    text-align: center;
    top: 35%;
    height: 10%;
    background: rgba(130, 107, 98, 0.79);
}
.fast-view a {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;

    width: 100%;

    letter-spacing: 0.05em;
    text-decoration-line: underline;

    color: #000000;
}


.page-shopimg:hover .fast-view{
    display: flex;
}

.page-shopimg img {
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 3%;
}

.page-shoptitle a {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-decoration: none;

    letter-spacing: 0.1em;

    color: #000000;
}
.page-shoptitle a:hover {
    text-decoration: underline;
}

.page-shoptext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;

    margin-top: 5%;
}

.page-shopprice {
    font-family: 'Museo Sans Cyrl-700';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    letter-spacing: 0.05em;

    color: #000000;
}

//pop

.page-pop {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0%;
    position: fixed;
    opacity: 0;
    display: none;
}

.page-pop:target {
    opacity: 1;
    display: block;
}

.page-pop-container {
    background: #FFFFFF;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    top: 15%;

    max-width: 1158px;

    padding: 70px 65px;
    margin: auto;
}

.pop-close {
    position: absolute;
    right: 2%;
    top: 4%;
}

.pop-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.pop-main-img {
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 405px;
    margin-right: 20px;
}

.pop-main-content {
    max-width: 520px;
}

.pop-h1 {
    all: unset;
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;

    letter-spacing: 0.1em;

    color: #000000;
}

.pop-main-text {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;

    color: #000000;

    margin: 42px 0 30px 0;
}

.pop-desc-text {
    display: flex;
    flex-flow: column nowrap;
    max-width: 360px;
    width: 100%;
}

.pop-desc-text-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-bottom: 11px;
}

.pop-lil-text {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 30px;

    letter-spacing: 0.05em;

    color: #000000;
}

.pop-lower {
    display: flex;
    flex-flow: row wrap;
    
    max-width: 520px;
    justify-content: space-between;
    align-items: baseline;

    margin-top: 50px;
}

.pop-lower-btns {
    display: flex;
    flex-flow: row nowrap;
}

@media only screen and (max-width : 1440px) {
    .page-headertext {
        left: 4%;
    }
}

@media only screen and (max-width : 930px) {
    .pagebg-image {
        height: 561px;
    }

    .page-headertext {
        position: absolute;
        top: 13%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .page-shopcontainer {
        grid-template-columns: repeat(auto-fit,minmax(100px,194px));
    }
    .pagebg-image {
        height: 336px;
    }
    .page-desctext {
        font-size: 10px;
        line-height: 15px;
    }
    .page-desctext2 {
        font-size: 11px;
        line-height: 16px;
    }
    h1 {
        font-size: 18px;
        line-height: 30px;
        margin-block-start: 0.67em;
    }
    .btn-page-link {
        padding: 3px 20px;
        font-size: 7px;
    }
    .page-shoptitle a {
        font-size: 16px;
    }
    .page-shopprice {
        font-size: 16px;
    }
    .page-shopbtn {
        font-size: 8px;
        padding: 3.5px 12px;
    }
}

@media only screen and (max-width : 1188px) {
    .page-pop-container {
        margin: 0 20px;
    }
}

@media only screen and (max-width : 1114px) {
    .pop-main {
        justify-content: center;
    }

    .page-pop-container {
        padding: 35px 40px;
    }
}

@media only screen and (max-width : 1064px) {
    .pop-lower {
        margin-top: 24px;
    }

    .pop-main-text {
        margin: 26px 0 17px 0;
    }

    .pop-main-img {
        max-width: 354px;
    }

    .pop-main-content {
        max-width: 500px;
    }
}

@media only screen and (max-width : 769px) {
    .page-pop-container {
        margin: auto;
        top: 6%;
        max-width: 533px;
    }

    .pop-main-img {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 13px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .page-pop-container {
        margin: 0px 15px;
        padding: 15px 15px;
    }

    .pop-main-img {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 13px;
    }

    .pop-main {
        align-items: center;
    }

    .pop-h1 {
        font-size: 6.3vw;
    }

    .pop-main-text {
        font-size: 2.5vw;
        line-height: 9px;
        margin: 10px 0 10px 0;
    }

    .pop-lil-text {
        font-size: 2.2vw;
        line-height: 1px;
    }

    .pop-lower {
        margin-top: 18px;
    }

    .page-pop-container {
        margin: 0px 10px;
    }

    .page-pop-container {
        top: 8%;
    }
}

// add-products

.page-h2 {
    all: unset;

    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #303030;
}

.product-main {
    width: 100%;
}

.top-search {
    max-width: 1440px;
    max-height: 45px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0 5px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.search-field {
    width: 30vw;
    min-height: 35px;
    border: 1px solid #674D43;
    box-sizing: border-box;
    border-radius: 10px;

    padding: 10px;
}

.search-ico {
    position: absolute;
    background: url(../images/src/find.svg) no-repeat 3px 6px;
    min-width: 23px;
    min-height: 30px;
}

.search-bar-container {
    background: rgba(242, 132, 132, 0.5);

    width: 100%;
    min-height: 60px;
}

.search-bar {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;
}

.search-top-form {
    display: flex;
}

.search-top-form i {
    position: relative;
    right: 8%;
    background-image: url(../images/src/find.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 4px;
    border: none;
    padding: 14px;
}

.search-form {
    min-height: 60px;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.search-form p {
    display: flex;
    align-items: center;
}

.search-form input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;

    min-width: 100px;
    min-height: 30px;

    padding: 5px 23px;
}

.search-form input[type="checkbox" i] {
    background: #FFFFFF;
    border: 1px solid #808080;
    box-sizing: border-box;
    border-radius: 10px;

    min-height: 30px;
    min-width: 30px;

    margin-right: 13px;
}

.search-form label {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: 0.05em;

    color: #000000;

    margin-right: 16px;
}

.product-container {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;  
    margin-top: 1.2%;
    margin-bottom: 1.2%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 280px));
    grid-auto-flow: dense;
    column-gap: 75px;
    row-gap: 30px;
    justify-content: center;
}

#search-sort {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 7px 14px;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    max-width: 175px;
    width: 100%;
    font-family: 'Museo Sans Cyrl-500';
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #000000;
}

#search-price-from, #search-price-to {
    width: 100%;
    width: 112px;
}

.search-price-filter {
    display: flex;
    align-items: center;
}

.search-price-filter i {
    position: relative;
    font-family: Museo Sans Cyrl-500;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #000000;
    left: -84%;
}

.product-item {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;

    padding: 15px 25px;

    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
}

.price {
    position: absolute;
    top: 4%;
    left: 0%;
}

.price p {
    position: absolute;
    top: 14%;
    left: 12%;

    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.product-item:hover {
    border: 1px solid #DFB7B7;
    box-sizing: border-box;
    border-radius: 10px;
}

.product-shopimg {
    display: flex;
    justify-content: center;

    max-height: 290px;
    height: 100%;
}

.product-shopimg:hover .fast-view2{
    display: flex;
}

.product-shopimg img {
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 3%;
    max-width: 225px;
}

.product-desctext {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;

    color: #000000;
}

.product-shoptitle a {
    font-family: Days;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    text-decoration: none;
    letter-spacing: .1em;
    color: #000;
}
.product-shoptitle a:hover {
    text-decoration: underline;
}

.product-shop {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: 0.05em;

    color: #000000;
}

.product-shopprice {
    font-family: 'Days';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: 0.05em;

    color: #000000;
}

.product-oldprice {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    letter-spacing: 0.05em;
    text-decoration-line: line-through;

    color: #6A6A6A;
}

.product-shopbtn {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    padding: 8px 11px;

    color: #FFFFFF;
}

.fast-view2 {
    position: absolute;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 82%;
    text-align: center;
    top: 32%;
    height: 10%;
    background: rgba(130,107,98,.79);
}
.fast-view2 a {
    font-family: 'Museo Sans Cyrl-500';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    width: 100%;
    letter-spacing: .05em;
    text-decoration-line: none;
    color: white;
}

@media only screen and (max-width : 1065px) {
    .search-top-form i {
        right: 11%;
    }
}

@media only screen and (max-width : 930px) {
    .page-h2 {
        font-size: 17px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .page-h2 {
        font-size: 17px;
    }

    .search-bar-container {
        min-height: 40px;
    }

    .top-search {
        flex-flow: row wrap;
        justify-content: center;
        max-height: 90px;
    }

    .search-field {
        min-width: 300px;
        min-height: 30px;
        width: 100%;

        margin-bottom: 10px;
    }
    .page-headertext {
        position: absolute;
        top: 10%;
        left: 4%;
    }

    .search-form {
        padding: 10px 0px;
        margin-top: 14px;
    }

    .search-form label {
        font-size: 12px;
    }

    .search-form input {
        min-height: 26px;
        max-width: 30px;
    }

    .search-form input[type=checkbox i] {
        min-height: 22px;
        min-width: 22px;
    }

    .search-price-filter {
        margin-bottom: 2px;
    }

    .product-shopimg {
        display: flex;
        justify-content: center;
    
        max-height: unset;
        height: unset;
    }

    .product-container {
        grid-template-columns: 35% 35%;
        column-gap: 8px;
        row-gap: 10px;
    }

    .search-top-form {
        max-width: 294px;
    }
}

// sitemap

.sitemap-container {
    max-width: 1360px;
    margin: 20px auto;
    padding: 0 20px;
}

.map-main {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

    list-style: none;
}

.main-li {
    font-family: 'Museo Sans Cyrl-500';
    font-size: 18px;
    line-height: 138%;

    letter-spacing: 0.05em;

    color: #000000;

}

.sub-ul li a{
    font-family: 'Museo Sans Cyrl-500';
    font-size: 14px;
    line-height: 138%;

    letter-spacing: 0.05em;

    color: #000000;
    text-decoration: none;
    
    margin-left: 20px;
}

.sub-ul li a:hover {
    text-decoration: underline;
}

.main-li a {
    all: unset;

    font-family: 'Museo Sans Cyrl-500';
    font-size: 18px;
    line-height: 138%;

    letter-spacing: 0.05em;

    color: #000000;
}

.main-li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .sitemap-container {
        max-width: 1360px;
        margin: 0px auto;
        padding: 0 12px;
    }

    .map-main {
        margin-left: 20px;
        margin-top: 1px;
        margin-bottom: 10px;
        line-height: 7px;
    }

    .main-li {
        font-size: 11px;
    }

    .main-li a {
        font-size: 11px;
    }

    .sub-ul li a {
        font-size: 8px;
    }
}