<footer>
    <!-- нижнее меню-->
    <div class="footer-section">
        <div class="footer-container">
            <div class="footer-logos">
                <img src="images/src/logo.svg" width="107px" id="logo-footer">
			    <img src="images/src/logo-text-white.svg">
            </div>

            <div class="footer-nav">
                <div>
                    <ul class="footer-firstnav">
					    <li><a href="#">Главная</a></li>
					    <li><a href="#">Арт-терапия</a></li>
					    <li><a href="#">Картины по фото</a></li>
					    <li><a href="#">Картины стразами</a></li>
					    <li><a href="#">Пазлы по фото</a></li>
					    <li><a href="#">Картины по дереву</a></li>
                        <li><a href="#">Мандалы</a></li>
                        <li><a href="#">Вышивка</a></li>
                        <li><a href="#">Алмазная мозайка</a></li>
				    </ul>
                </div>

                <div>
                    <ul class="footer-secondnav">
                        <li class="first-item"><a href="#">Доп товары</a></li>
                        <li><a href="#">Корзина</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Сервис</a></li>
                        <li><a href="#">Мастер-классы</a></li>
                        <li><a href="#">Карта сайта</a></li>
                    </ul>
                </div>

                <div>
                    <ul class="footer-secondnav">
                        <li class="first-item"><a href="#">Контакты</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Доставка и оплата</a></li>
                        <li><a href="#">Галерея готовых работ</a></li>
                        <li><a href="#">Программа лояльности</a></li>
                        <li><a href="#">Наши преимущества</a></li>
                    </ul>
               </div>
            </div>
        </div>
    </div>

    <!-- нижнее меню с информацие-->
    <div class="footer-lowersection">
        <div class="footer-container footer-container2">
            <p class="phone-number-white">+234 (76) 343 58 78</p>

            <ul class="nav-social">
                <li class="nav-social-item"><a href="#"><img src="images/src/social/whatsapp.svg"></a></li>
                <li class="nav-social-item"><a href="#"><img src="images/src/social/telegram.svg"></a></li>
                <li class="nav-social-item"><a href="#"><img src="images/src/social/vk.svg"></a></li>
                <li class="nav-social-item"><a href="#"><img src="images/src/social/insta.svg"></a></li>
            </ul>

            <a href="#" class="confid-text"><u>Политика конфиденциальности</u></a>
        </div>
    </div>
</footer>

<script src="js/app.min.js"></script>

</body>
</html>
