<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>Картины по номерам</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.png">
	<link rel="stylesheet" href="css/app.min.css">

</head>
<body>
	<header class="main-header">
		<div class="upper-header">
			<!-- <div class="menu-btn"><a href="#" class="menu-text">МЕНЮ</a></div> -->
			<div class="menu-btn" onclick="openMenu()"><a class="menu-text">МЕНЮ</a><img class="btn-image" src="images/src/menu-btn2.svg"></div>
			<a class="head-link" href="/"><img src="images/src/logo.svg" id="logo"></a>
			<a class="head-link" href="/"><img src="images/src/logo-text.svg" id="logo-text"></a>
			<a href="/"><img src="images/src/logo-small.svg" id="logo-small"></a>
			<button type="button">ЗАКАЗАТЬ ЗВОНОК</button>
			<p class="phone-number-black">+234 (76) 343 58 78</p>

			<ul class="nav-social">
				<li class="nav-social-item"><a href="#"><img src="images/src/social/whatsapp.svg" alt="whatsapp link"></a></li>
				<li class="nav-social-item"><a href="#"><img src="images/src/social/telegram.svg" alt="telegram link"></a></li>
				<li class="nav-social-item"><a href="#"><img src="images/src/social/vk.svg" alt="vk link"></a></li>
				<li class="nav-social-item"><a href="#"><img src="images/src/social/insta.svg" alt="instagram link"></a></li>
			</ul>

			<a href="cart.html" class="cart"><img src="images/src/cart-order.svg"></a>
		</div>

		<div>
			<nav>
				<div class="navigation" id="navMob">
				<ul class="main-nav">
					<li class="main-nav-item"><a href="pic-num-photo.html">КАРТИНЫ ПО НОМЕРАМ ПО ФОТО</a></li>
					<li class="main-nav-item more-ico2"><a href="art-therapy.html">АРТ-ТЕРАПИЯ</a></li>
					<li class="main-nav-item more-ico3"><a href="pic-straz.html">КАРТИНЫ ПО СТРАЗАМ</a></li>
					<li class="main-nav-item"><a href="vishivka.html">ВЫШИВКА</a></li>
					<li class="main-nav-item"><a href="pic-pazl.html">ПАЗЛЫ</a></li>
					<li class="main-nav-item"><a href="masters.html">МАСТЕР-КЛАССЫ</a></li>
					<li class="main-nav-item more-ico1"><a href="#">ЕЩЁ</a>
						<ul>
							<li><a href="add-products.html">ДОП ТОВАРЫ</a></li>
						</ul>
					</li>
				</ul>
				</div>
			</nav>
		</div>

		<script>
			function openMenu() {
				//document.getElementsByClassName("navigation").classList.toggle('active');
				document.getElementById("navMob").classList.toggle("active");
			}
		</script>
	</header>